<template>
  <div class="secs">
    <section class="sec sec-0">
      <div class="wrapper">
        <div class="sec-texts sk-texts">
          <h1 class="sk-title sk-menuheading">READING LIST</h1>
          <h4 class="sk-sec-head">Presentment</h4>
          <p>
            The details mentioned in this page and listed readings review in the
            following page are completely my personal reviews or summarization
            which is I have outlined to show my perspective or comprehension of
            the literature or any writings and it does not summarize itself.
          </p>
          <nuxt-link to="/readings/readings-shelves"
            ><span
              >Continue to Reading Shelves
              <font-awesome-icon icon="angle-double-right"/></span
          ></nuxt-link>
        </div>
      </div>
    </section>
    <section class="sec sec-1">
      <div class="wrapper">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
          data-interval="7000"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            />
            <li data-target="#carouselExampleIndicators" data-slide-to="1" />
            <li data-target="#carouselExampleIndicators" data-slide-to="2" />
            <li data-target="#carouselExampleIndicators" data-slide-to="3" />
            <li data-target="#carouselExampleIndicators" data-slide-to="4" />
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-wrapper">
                <figure class="carousel-sec-img">
                  <img
                    src="~/assets/images/readings/review-the-alchemist/review-the-alchemist.jpg"
                    alt="Review: The Alchemist"
                  />
                  <figcaption>
                    <website-source
                      source-name="Amazon"
                      source-link="https://www.amazon.in/Alchemist-Paulo-Coelho/dp/8172234988"
                      class="website-source-credit"
                    />
                  </figcaption>
                </figure>
                <div class="carousel-texts sk-texts">
                  <h5 class="sk-sec-subhead">Review: The Alchemist</h5>
                  <p>
                    Like the one-time bestseller Jonathan Livingston Seagull,
                    The Alchemist presents a simple fable, based on simple
                    truths and places it in a highly unique situation. And
                    though we may sniff a bestselling formula, it is certainly
                    not a new one: even the ancient tribal storytellers knew
                    that this is the most successful method of entertaining an
                    audience while slipping in a lesson or two. Brazilian
                    storyteller Paulo Coehlo introduces Santiago, an Andalusian
                    shepherd boy who one night dreams of a distant treasure in
                    the Egyptian pyramids. And so he's off: leaving Spain to
                    literally follow his dream.
                  </p>
                  <nuxt-link
                    to="/readings/readings-shelves/review-the-alchemist"
                    >Continue Reading...</nuxt-link
                  >
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <figure class="carousel-sec-img">
                  <img
                    src="~/assets/images/readings/review-the-subtle-art-of-not-giving-a-f/review-the-subtle-art-of-not-giving-a-f-by-mark-manson.jpg"
                    alt="Review: The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life"
                  />
                  <figcaption>
                    <website-source
                      source-name="Amazon"
                      source-link="https://www.amazon.in/Subtle-Art-Not-Giving-Counterintuitive-ebook/dp/B019MMUA8S"
                      class="website-source-credit"
                    />
                  </figcaption>
                </figure>
                <div class="carousel-texts sk-texts">
                  <h5 class="sk-sec-subhead">
                    Review: The Subtle Art of Not Giving a F*ck: A
                    Counterintuitive Approach to Living a Good Life
                  </h5>
                  <p>
                    In this generation-defining self-help guide, a superstar
                    blogger cuts through the crap to show us how to stop trying
                    to be "positive" all the time so that we can truly become
                    better, happier people.
                  </p>
                  <nuxt-link to="/">Continue Reading...</nuxt-link>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <figure class="carousel-sec-img">
                  <img
                    src="~/assets/images/readings/review-harry-potter-and-the-sorcerers-stone/review-harry-potter-and-the-sorcerers-stone.jpg"
                    alt="Review: Harry Potter and the Sorcerer's Stone"
                  />
                  <figcaption>
                    <website-source
                      source-name="Amazon"
                      source-link="https://www.amazon.com/Harry-Potter-Sorcerers-Stone-Rowling/dp/059035342X"
                      class="website-source-credit"
                    />
                  </figcaption>
                </figure>
                <div class="carousel-texts sk-texts">
                  <h5 class="sk-sec-subhead">
                    Review: Harry Potter and the Sorcerer's Stone
                  </h5>
                  <p>
                    Harry Potter's life is miserable. His parents are dead and
                    he's stuck with his heartless relatives, who force him to
                    live in a tiny closet under the stairs. But his fortune
                    changes when he receives a letter that tells him the truth
                    about himself: he's a wizard. A mysterious visitor rescues
                    him from his relatives and takes him to his new home,
                    Hogwarts School of Witchcraft and Wizardry.
                  </p>
                  <nuxt-link to="/">Continue Reading...</nuxt-link>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <figure class="carousel-sec-img">
                  <img
                    src="~/assets/images/readings/review-harry-potter-and-the-chamber-of-secrets/review-harry-potter-and-the-chamber-of-secrets.jpg"
                    alt="Review: Harry Potter and the Chamber of Secrets"
                  />
                  <figcaption>
                    <website-source
                      source-name="Amazon"
                      source-link="https://www.amazon.com/Harry-Potter-Chamber-Secrets-Rowling/dp/0439064872"
                      class="website-source-credit"
                    />
                  </figcaption>
                </figure>
                <div class="carousel-texts sk-texts">
                  <h5 class="sk-sec-subhead">
                    Review: Harry Potter and the Chamber of Secrets
                  </h5>
                  <p>
                    The Dursleys were so mean and hideous that summer that all
                    Harry Potter wanted was to get back to the Hogwarts School
                    for Witchcraft and Wizardry. But just as he's packing his
                    bags, Harry receives a warning from a strange, impish
                    creature named Dobby who says that if Harry Potter returns
                    to Hogwarts, disaster will strike.
                  </p>
                  <nuxt-link to="/">Continue Reading...</nuxt-link>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <figure class="carousel-sec-img">
                  <img
                    src="~/assets/images/readings/review-cheaper-by-the-dozen/review-cheaper-by-the-dozen.jpg"
                    alt="Review: Cheaper By The Dozen"
                  />
                  <figcaption>
                    <website-source
                      source-name="Amazon"
                      source-link="https://www.amazon.in/Cheaper-Dozen-Frank-B-Gilbreth/dp/1614275009"
                      class="website-source-credit"
                    />
                  </figcaption>
                </figure>
                <div class="carousel-texts sk-texts">
                  <h5 class="sk-sec-subhead">Review: Cheaper By The Dozen</h5>
                  <p>
                    Adapted into two classic motion pictures, this bestselling
                    memoir is the unforgettable story of two parents, twelve
                    kids, and a world of laughter and love.
                  </p>
                  <nuxt-link to="/">Continue Reading...</nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"
              ><font-awesome-icon icon="chevron-left"
            /></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"
              ><font-awesome-icon icon="chevron-right"
            /></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <div class="readings-desc">
      <section class="sec sec-2">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h4 class="sk-texts sk-sec-head">Intro</h4>
            <div class="sec-texts sk-texts">
              <p>
                Each post in the Reading consist of my readings which I have
                completed and want to share a little piece of information which
                I have accumulated. This helps me right choice to pick one in a
                particular circumstance or mood, so as you either.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-3">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h4 class="sk-texts sk-sec-head">Voracious Reader</h4>
            <figure class="sec-img">
              <img
                src="~/assets/images/readings/voracious-reading.jpg"
                alt="Voracious Reading"
              />
              <figcaption>
                <cc-by-vh
                  source-name="VisualHunt"
                  source-link="https://visualhunt.com/"
                  creator="alexisnyal"
                  creator-source="https://www.flickr.com/photos/alexisnyalphotography/4741595352/"
                  license-link="http://creativecommons.org/licenses/by/2.0/"
                  license-type="CC BY"
                />
              </figcaption>
            </figure>
            <div class="sec-texts sk-texts">
              <p>
                If you are not a persistent reader this is for you. I was
                started reading writings by a strange idea of reading to get
                sleep in time, normally I used to find great ideas or benefits
                by personal experience, which is changed eventually the moment
                after start reading. We can’t always know many things just by
                our experience until unless we face that situation or reach the
                moment. I wasn’t considered someone direction until mature
                enough to understand, some things are not even after matured
                enough until started reading, for that had needed reading some
                creative writings. It is always ideal to follow one’s superior
                direction which perhaps bitter to take account of if you do not
                experience it.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-4">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h4 class="sk-texts sk-sec-head">Merits of reading</h4>
            <div class="sec-texts sk-texts">
              <p>
                In the sense of personal development, self-help and knowledge
                base morally choosing the right one induces enrichment,
                lifestyle and happiness. The one who aspires to make his or her
                life better and have the ability to interpret or comprehend the
                statement well can gain an immense advantage by reading.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-5">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h4 class="sk-texts sk-sec-head">Induce reading</h4>
            <figure class="sec-img">
              <img
                src="~/assets/images/readings/induce-reading.jpg"
                alt="Induce reading"
              />
              <figcaption>
                <cc-zero-unsplash
                  provider-name="Unsplash"
                  creator="Katlyn Boone"
                  source-link="https://unsplash.com/@katlynboone?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                />
              </figcaption>
            </figure>
            <div class="sec-texts sk-texts">
              <p>
                To engage in something there must be an interest in that. One
                perhaps not a persistent reader because he or she hasn’t
                experienced the value of it, or not reading effectively. So, the
                first thing to consider for persistent reading makes an interest
                in that. Once start practice reading, you will find the value of
                it and once you understand the value of reading one cannot stop
                reading in any circumstances.
              </p>
              <p>
                So how to induce reading effectively, here I am sharing my
                experience of how I developed reading over time. I was started
                reading books by a strange idea of reading to get sleep in time,
                started with “Harry Potter and the Philosopher's Stone” by J. K.
                Rowling, the first novel in the Harry Potter series, because of
                the novel I choose not written in my native language and
                struggled to understand properly I used to get nice sleep.
              </p>
              <p>
                After completing my second book the second novel in the Harry
                Potter series “The Chamber of Secrets” eventually it improves my
                understanding of the novel and started realizing, that instead
                of getting sleep started awaken long night and couldn’t just
                stop reading because of fantasy or mysterious story of the book
                which is so curious to read. Had to find another way to get nice
                sleep so found non-fiction book help me with that and that
                changed my thought of reading books or any other writings.
              </p>
              <p>
                It is good to choose an interesting story, novel or any writings
                to start to develop the reading habit. Reading interesting or
                mysterious stories made my interest in reading and it led me to
                start read non-fiction books which is I am interested now, it
                was that moment I understand the value of reading books,
                publication, blog posts or any other mean of valuable writings
                offline or online. once you understand the value of reading one
                cannot stop in any circumstances.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-6">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h4 class="sk-texts sk-sec-head">
              Consider before start reading habit
            </h4>
            <h5 class="sk-texts sk-sec-subhead">Non-native speakers</h5>
            <div class="sec-texts sk-texts">
              <p>
                Some difficulties may occur to people who intend to start
                reading anything which is not in their native language, for
                those, the following may help. Start with reading interesting
                stories which are having simple narration and read without
                considering the meaning of each word even if not understanding
                clearly.
              </p>
              <p>
                First, make a flowing reading style that makes you read more in
                short interval of time which helps reading enthusiastically.
                Once you obtain flowing reading style next thing to find the
                value of reading. Until finding the value of reading the
                probability of discontinuing reading is much more. At first,
                will see the enthusiasm in reading but in the long run, will
                face hesitation to continue because not finding the value of
                reading until unless you are not experiencing artistic or
                intellectual value in nature in what you are reading.
              </p>
              <p>
                So how do experience or take in the manner of artistic or
                intellectual value in nature in what you are reading? In most
                cases printed works will have artistic or intellectual value in
                nature and find not less on the internet also, unless comments,
                forum or any community. Therefore, you have found interest in
                reading the next step is to understand each word meaning which
                is commonly used, it may be slow you down your flow of reading
                or make you feel little stress, but a person having a burning
                desire to make a reading habit will endure hanging around it. It
                is not scary though you will find more interesting because a
                good author or works you desired to select for reading and its
                artful writing or intellectual theme hold you stay where you
                are.
              </p>
              <p>
                It is completely upon the person whose interest matter while
                choosing the right literary composition, literary technique,
                tone, content and length. When you are on this stage it is most
                important to slow down your reading so that can understand each
                sentence and its tone author used to express his or her
                feelings, repeat till you understand each word meaning properly
                which is used commonly or not. If you continue this way of
                reading until the same flow of reading when you started finding
                interest in reading, under no circumstances you going to stop
                reading and the result of it will be unimaginable or
                indescribable.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-7">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h5 class="sk-texts sk-sec-subhead">
              Less value for time rather content
            </h5>
            <div class="sec-texts sk-texts">
              <p>
                Off course the time is the most important thing while
                considering reading for professional purpose as it for the
                career or personal, which is not in the case of entertainment or
                passing time, but in both cases considering less value for time
                rather content will be more appreciated. Always have a mind that
                you are not setting the goal to finish reading anything in time.
                You might be lose reading habit or finding actual value in it if
                set time to finish reading unless you are not an extreme
                intellect having extreme ability to comprehend quickly.
              </p>
              <p>
                Setting time to finish or urge to complete reading something
                will increase heartbeat, nervousness and stress because the
                difficultness to comprehend what you are reading. Eventually, it
                reduces the ability to spend more time in reading, that finally
                will lead to stoping the reading habit itself. Comprehension of
                reading is essential to find value in readings, a rapid
                comprehension ability can be achieved by considering the content
                of what you are reading without looking at time and periodical
                improvements of time taking to read by reading enormous
                writings.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-8">
        <div class="wrapper">
          <div class="desc-left-topbar" />
          <div class="desc-left-bottombar" />
          <div class="sec-desc">
            <h5 class="sk-texts sk-sec-head">Votes, reviews or ratings</h5>
            <figure class="sec-img">
              <img
                src="~/assets/images/readings/reviews.jpg"
                alt="Votes, reviews or ratings"
              />
              <figcaption>
                <cc-zero
                  source-name="Pixabay"
                  source-link="https://pixabay.com/en/ball-round-alone-different-407081/"
                />
              </figcaption>
            </figure>
            <div class="sec-texts sk-texts">
              <p>
                To stick with your reading there must be some value, quality or
                your interest in the content of what you are reading. Find any
                mean to analyze the quality of writings and the genres, subject
                or characteristics of the content so that you will not come up
                with the situation of disgusting. There are a number of ways can
                analyze the quality, genres or review of the writings based on
                what you intend to read. For the books, there are a number of
                book review sites are there to help you and many review articles
                interpret the outline of the book. For the articles, blogs or
                any papers check the source of it and analyze the source are
                trustworthy, some are having the option to vote or comment the
                particular article and by looking into that can conclude to
                consider reading. Follow the trustworthy publishers who are
                having a valid source and based on your interest will be always
                a great way of finding the best writing that fits you well.
              </p>
              <p>
                Sometimes there might not be a source to analyze the writings
                and you might find one is best matching for the subject you are
                looking for, in that situation the reviews, votes, or ratings
                need not be considered rather consider your own comprehension of
                the writings by go ahead and read it. Reviews and ratings will
                be the point of view of others which might be entirely different
                from your point of view. Sometimes you will be the first one to
                consider it reading. To not hurt your feelings which is you
                considered or selected to read it is good practices to take only
                what is the valid or good part of the writing and ignore the
                remaining.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec-9">
        <div class="wrapper">
          <nuxt-link to="/readings/readings-shelves"
            ><span
              >Continue to Reading Shelves
              <font-awesome-icon icon="angle-double-right"/></span
          ></nuxt-link>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import WebsiteSource from '~/components/credit-badge/website-source'
import CcByVisualHunt from '~/components/credit-badge/cc-by-vh'
import CcZeroUnsplash from '~/components/credit-badge/cc-zero-unsplash'
import CcZero from '~/components/credit-badge/cc-zero'

export default {
  name: 'Readings',

  components: {
    'website-source': WebsiteSource,
    'cc-by-vh': CcByVisualHunt,
    'cc-zero-unsplash': CcZeroUnsplash,
    'cc-zero': CcZero
  }
}
</script>

<style scoped>
.sec {
  width: 100%;
}

.readings-desc {
  width: 100%;
  padding-top: 2rem;
}

.wrapper {
  width: 90%;
  padding: 0 0.2rem;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
}

.readings-desc .wrapper {
  width: 75%;
  display: block;
  position: relative;
  padding: 2rem;
}

.readings-desc .sec-desc {
  padding: 0.5rem 2rem;
  border: 3px solid lightgray;
  background-color: white;
  position: relative;
}

.desc-left-topbar,
.desc-left-bottombar {
  width: 40%;
  height: 4rem;
  position: absolute;
  background-color: #103722;
}

.desc-left-topbar {
  top: 0;
  left: 0;
}

.desc-left-bottombar {
  right: 0;
  bottom: 0;
}

.readings-desc .sec {
  padding-bottom: 3rem;
}

.readings-desc .sec-8,
.readings-desc .sec-9 {
  padding-bottom: 0;
}

.readings-desc .sec-9 a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
}

.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.sec-img {
  width: 100%;
}

.sec-img img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.sec-0 {
  padding-bottom: 3rem;
}
.sec-0 .wrapper {
  width: 70%;
}

.sec-0 .sec-texts * {
  text-align: center;
}

.sec-0 .sec-texts a {
  display: block;
  text-decoration: none;
}

.sec-1 {
  background-image: url(~assets/images/readings/readings-carousal-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-1 {
  padding: 4rem 0 4rem;
}

.carousel {
  background-color: rgba(245, 239, 234, 0.8);
}
.carousel-wrapper img {
  height: calc(94vh - 5rem);
  object-fit: contain;
  width: auto;
}

.carousel-sec-img {
  margin: 1.1rem 1.1rem 0;
}

.carousel-sec-img .website-source-credit {
  float: right;
}

.carousel-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.carousel-texts {
  flex: 1 1 auto;
  height: auto;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
}

.carousel-text a {
  text-decoration: none;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  font-size: 2rem;
  background-image: initial;
  height: auto;
  width: auto;
  color: #ffcccc;
}
.carousel-indicators li {
  background-color: #ffcccc;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .sec-0 .wrapper,
  .readings-desc .wrapper {
    width: 90%;
  }

  .readings-desc .wrapper {
    padding: 1rem;
  }

  .readings-desc .sec-desc {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sec-img img {
    width: 100%;
  }

  .carousel-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .carousel-texts {
    padding: 1.5rem 1rem;
  }
}

@media screen and (orientation: portrait) {
  .carousel-wrapper img {
    height: 60vh;
  }
}
</style>
