<template>
  <div class="secs">
    <div class="secs-container">
      <div class="sec sec-0">
        <div class="wrapper">
          <h1 class="sk-title sk-menuheading">ATHIRAPPILLY FALLS</h1>
          <div class="sec-texts sk-texts">
            <p>
              A trip to Athirappilly falls is always in my thought to visit with
              my native friends, we used to talk about it whenever we are
              planning for a trip. We do a lot of planning to go for a trip but
              it always finally ends up in vain, even though it is not too far
              away from home we had not able to go to the Athirappilly falls
              because of some circumstances. We are more than twenty people most
              of them are living within a 2 km span, warriors of the fun factory
              😊 😊.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-1">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              This time trip to Athirappilly falls was with my colleagues when I
              was working in Ernakulam just 100 km away from home, once return
              to the room after the trip whole thought in my mind was to
              planning a trip again to Athirappilly falls with my friends in
              native place. The trip was after merely 3 months after joining my
              new company, the trip was obviously needed because of the pressure
              having to make a bond with my new company and the work I am really
              trying to get in. We started the journey with eleven colleagues
              using some bike and a car in the morning itself from the office on
              the weekend. It was merely around fifty kilometres from the
              office, the weather was cloudy when we started the journey.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-2">
        <div class="wrapper">
          <div class="sec-img">
            <!-- Do not change the structure of class div "thumbs-container" if so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-container">
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-medium.jpg  800w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Way to athirappilly falls image one"
                    style="box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-2-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-2-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-2-medium.jpg  800w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-2-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Way to athirappilly falls image two"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-3-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-3-large.jpg  1060w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-3-medium.jpg  800w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-3-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Way to athirappilly falls image three"
                    style="margin-bottom: 0;"
                  />
                </figure>
              </a>
            </div>
            <!-- Do not change the structure of class div "thumbs-enlarged-container" so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-enlarged-container">
              <figure>
                <img
                  src="~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-large.jpg"
                  srcset="
                    ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-large.jpg  1140w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-medium.jpg  800w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/way-to-athirappilly-1-small.jpg   400w
                  "
                  sizes="(min-width: 1024px) 1140px,
                    (min-width: 500px) and (max-width: 1024) 800px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Way to athirappilly falls image one"
                />
              </figure>
            </div>
          </div>
          <div class="sec-texts sk-texts">
            <p>
              It was a wonderful ride in that climate of the day even though it
              was after started summer had a rainfall before two days and the
              weather of summer in Kerala is so unusual. The forest started once
              past around 40 km of the ride, covered with dense greenery with
              cool fresh air, because of the summer merely started the
              greeneries was still in its intensity. There were a lot of monkeys
              of the rhesus macaque species can be seen throughout the ride and
              many cautions displayed to ride slow and regarding animals
              crossing and mishaps, in some place some part of the road is
              covered with bamboos, it was a really mind refreshing ride.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-3">
        <div class="wrapper">
          <div class="sec-img">
            <!-- Do not change the structure of class div "thumbs-container" if so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-container">
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Thumboormuzhi dam image one"
                    style="box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-2-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-2-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-2-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-2-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Thumboormuzhi dam image two"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-3-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-3-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-3-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-3-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Thumboormuzhi dam image three"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-4-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-4-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-4-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-4-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Thumboormuzhi dam image four"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-5-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-5-large.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-5-medium.jpg 720w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-5-small.jpg  400w
                    "
                    sizes="(min-width: 1024px) 1040px,
                      (min-width: 500px) and (max-width: 1024) 700px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Thumboormuzhi dam image five"
                    style="margin-bottom: 0;"
                  />
                </figure>
              </a>
            </div>
            <!-- Do not change the structure of class div "thumbs-enlarged-container" so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-enlarged-container">
              <figure>
                <img
                  src="~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-large.jpg"
                  srcset="
                    ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-large.jpg  1140w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-medium.jpg  900w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/thumboormuzhi-dam-1-small.jpg   400w
                  "
                  sizes="(min-width: 1024px) 1140px,
                    (min-width: 500px) and (max-width: 1024) 800px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Thumboormuzhi dam image one"
                />
              </figure>
            </div>
          </div>
          <div class="sec-texts sk-texts">
            <p>
              It was a wonderful ride in that climate of the day even though it
              was after started summer had a rainfall before two days and the
              weather of summer in Kerala is so unusual. The forest started once
              past around 40 km of the ride, covered with dense greenery with
              cool fresh air, because of the summer merely started the
              greeneries was still in its intensity. There were a lot of monkeys
              of the rhesus macaque species can be seen throughout the ride and
              many cautions displayed to ride slow and regarding animals
              crossing and mishaps, in some place some part of the road is
              covered with bamboos, it was a really mind refreshing ride.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-4">
        <div class="wrapper">
          <div class="sec-img">
            <!-- Do not change the structure of class div "thumbs-container" if so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-container">
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Charpa falls image one"
                    style="box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-2-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-2-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-2-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-2-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Charpa falls image two"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-1-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-1-large.jpg  1140w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-1-medium.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-1-small.jpg   400w
                    "
                    sizes="(min-width: 1024px) 1140px,
                      (min-width: 500px) and (max-width: 1024) 800px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Vazhachal falls image one"
                  />
                </figure>
              </a>
              <a href="#" @click="sectionOneThumbClick">
                <figure>
                  <img
                    src="~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-2-large.jpg"
                    srcset="
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-2-large.jpg  900w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-2-medium.jpg 720w,
                      ~/assets/images/trips-and-travel/athirappilly-falls/vazhachal-falls-2-small.jpg  400w
                    "
                    sizes="(min-width: 1024px) 1040px,
                      (min-width: 500px) and (max-width: 1024) 700px,
                      (max-width: 500px) 390px,
                      1060px"
                    alt="Vazhachal falls image two"
                    style="margin-bottom: 0;"
                  />
                </figure>
              </a>
            </div>
            <!-- Do not change the structure of class div "thumbs-enlarged-container" so change as so the function sectionOneThumbClick() -->
            <div class="thumbs-enlarged-container">
              <figure>
                <img
                  src="~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-large.jpg"
                  srcset="
                    ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-large.jpg  1140w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-medium.jpg  900w,
                    ~/assets/images/trips-and-travel/athirappilly-falls/charpa-falls-1-small.jpg   400w
                  "
                  sizes="(min-width: 1024px) 1140px,
                    (min-width: 500px) and (max-width: 1024) 800px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Charpa falls image one"
                />
              </figure>
            </div>
          </div>
          <div class="sec-texts sk-texts">
            <p>
              Move on to the next place was Vazhachal falls merely 5 km from
              Athirappilly falls in the west- flowing Chalakkudy river. A nice
              view can be seen and feel some water spill all over the place.
              Because of the rainfall before two days, there was a nice water
              flow in all falls around Athirappilly that’s why we thought the
              right time for the trip. The next stop was Charpa falls 3.5 km
              from Athirappilly falls, it was a narrow very small falls facing
              the road to Athirappilly a clear white flow of water chills the
              pass by tourists.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-5">
        <div class="wrapper">
          <div class="wrapper-container">
            <div class="sec-texts sk-texts">
              <p>
                After visiting other tourist places around Athirappilly we
                finally reached the Athirappilly falls after a little walk
                through the trees. It was seen calm on the top where we reach
                first and then had walked down to the bottom of the falls to
                experience real beauty. That was right time to visit the
                waterfall after rainfall and water level was high but not as
                high as to worry for go to bottom or stand near the falls, and
                there is always a precaution that water level might increase at
                any time and guards had not allowed people to enter very deep
                into the waterfall but still the experience and feeling was
                great when standing beside the falls. Because of the high wind
                and intense of water flowing down it shower over whoever
                standing beside it.
              </p>
            </div>
            <figure class="sec-img">
              <img
                src="~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-bottom-1-large.jpg"
                srcset="
                  ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-bottom-1-large.jpg  1060w,
                  ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-bottom-1-medium.jpg  700w,
                  ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-bottom-1-small.jpg   400w
                "
                sizes="(min-width: 1024px) 1060px,
                  (min-width: 500px) and (max-width: 1024px) 700px,
                  (max-width: 500px) 400px,
                  1060px"
                alt="Athirappilly falls top view"
              />
            </figure>
          </div>
        </div>
      </div>
      <div class="sec sec-6">
        <div class="wrapper">
          <figure class="sec-img">
            <img
              src="~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-top-1-large.jpg"
              srcset="
                ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-top-1-large.jpg  1060w,
                ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-top-1-medium.jpg  700w,
                ~/assets/images/trips-and-travel/athirappilly-falls/athirappilly-falls-top-1-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1060px,
                (min-width: 500px) and (max-width: 1024px) 700px,
                (max-width: 500px) 400px,
                1060px"
              alt="Athirappilly falls top view"
            />
          </figure>
          <div class="sec-texts sk-texts">
            <p>
              The tourists were very high in numbers because that was the right
              time to visit the waterfall after rainfall and the climate was
              good for a trip and also it was a weekend. A few minutes after
              while we enjoying our bath from the shower of the waterfall the
              real rainfall has fallen all over the place that was a great
              moment with all enjoyments we had in the Athirappilly. At the end
              of the evening, we turned back to the room with memories of the
              good times we spend in the Athirappilly. There are still some
              places are missing to visit, one of them is Jungle Safari from
              Chalakudy to Malakkappara, I hope to come back again with even
              more knowledge about the facilities around the place with whom I
              talked earlier about the warriors and saying goodbye to the
              memories of the day.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AthirappillyFalls',

  methods: {
    sectionOneThumbClick(event) {
      event.preventDefault()
      const enlargedImageElement =
        event.target.parentElement.parentElement.parentElement
          .nextElementSibling.childNodes[0].childNodes[0]
      // checking the element is already clicked
      if (enlargedImageElement.src !== event.target.src) {
        // changing enlarged image to the currently clicked image
        enlargedImageElement.alt = event.target.alt
        enlargedImageElement.src = event.target.src
        enlargedImageElement.srcset = event.target.srcset
        enlargedImageElement.sizes = event.target.sizes
        event.target.style.boxShadow = '0 0 0 0.2rem rgba(0,123,255,.25)'
        const targetElement = event.target
        // getting the all img elemets inside thumb-container to remove the box-shadow property of those element which is not selected
        const thumbItems =
          event.target.parentElement.parentElement.parentElement.children
        const imgCollection = []
        for (let i = 0; i < thumbItems.length; i++) {
          imgCollection.push(thumbItems[i].childNodes[0].childNodes[0])
        }
        for (let index = 0; index < imgCollection.length; index++) {
          // checking the element is currently selected element or not to skip being remove the box-shadow property
          if (imgCollection[index] !== targetElement) {
            imgCollection[index].style.boxShadow = 'initial'
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs,
.secs-container,
.sec,
.wrapper {
  width: 100%;
}

.secs {
  background-color: #ededed;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.secs-container {
  width: 80%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.sec-texts,
.sec-6 .sec-img,
.sec-5 .wrapper-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sec-2 .sec-img,
.sec-3 .sec-img,
.sec-4 .sec-img,
.sec-6 .sec-img {
  margin-bottom: 2rem;
}

.wrapper {
  padding-bottom: 2rem;
}

.sec-2 .sec-img,
.sec-3 .sec-img,
.sec-4 .sec-img {
  display: flex;
  flex-flow: row nowrap;
  height: 500px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.thumbs-container {
  flex: 1 1 30%;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.8rem;
  margin-right: 2rem;
}

.thumbs-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.thumbs-container::-webkit-scrollbar-thumb {
  background: #696868;
}

.thumbs-container figure {
  margin-bottom: 0;
}

.thumbs-container figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
  margin-bottom: 1rem;
}

.thumbs-enlarged-container {
  flex: 1 1 70%;
}

.thumbs-enlarged-container figure {
  width: 100%;
  height: 100%;
}

.thumbs-enlarged-container figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.sec-5 .wrapper-container {
  display: flex;
  flex-flow: row nowrap;
}

.sec-5 .sec-img {
  flex: 1 0 50%;
  padding-left: 3rem;
}

.sec-5 .sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}

.sec-6 .sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .secs-container {
    width: 90%;
  }

  .sec-texts,
  .sec-6 .sec-img {
    width: 90%;
  }

  .sec-5 .sec-img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    order: 1;
  }

  .sec-5 .sec-texts {
    order: 2;
  }

  .wrapper {
    padding-bottom: 1rem;
  }

  .sec-2 .sec-img,
  .sec-3 .sec-img,
  .sec-4 .sec-img,
  .sec-6 .sec-img {
    margin-bottom: 1rem;
  }

  .sec-2 .sec-img,
  .sec-3 .sec-img,
  .sec-4 .sec-img {
    flex-flow: column;
    height: initial;
  }

  .thumbs-container {
    flex-flow: row nowrap;
    margin-bottom: 2rem;
    height: 200px;
    margin-right: 0;
  }

  .thumbs-container a {
    flex-shrink: 0;
    height: 100%;
  }

  .thumbs-container figure {
    width: initial;
    height: 100%;
  }

  .thumbs-container figure img {
    width: auto;
    height: 100%;
    margin-right: 0.8rem;
    margin-bottom: 0;
  }

  .thumbs-container::-webkit-scrollbar {
    height: 5px;
  }

  .thumbs-enlarged-container {
    height: initial;
  }

  .thumbs-enlarged-container figure img {
    height: auto;
    object-fit: contain;
    object-position: center center;
  }

  .sec-5 .wrapper-container {
    flex-flow: column;
    align-items: initial;
    width: 100%;
  }
}
</style>
