<template>
  <div class="secs">
    <div class="sec sec-0">
      <div class="wrapper">
        <div class="wrapper-container">
          <h1 class="sk-title sk-menuheading">TRIPS AND TRAVEL POSTS</h1>
          <template v-if="tripsAndTravels">
            <trips-and-travel-highlighted-card
              :trips-and-travels="tripsAndTravels"
            />
          </template>
        </div>
      </div>
    </div>
    <div class="sec sec-1">
      <div class="wrapper">
        <div class="wrapper-container">
          <trips-and-travel-unhighlighted-card :travel-uh-data="travelUHData" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TripsandTravelHighlightedCard from '~/components/trips-and-travel-highlighted-card'
import TripsandTravelUnhighlightedCard from '~/components/trips-and-travel-unhighlighted-card'
const travelPromise = process.BROUSER_BUILD
  ? import('~/data/trips-and-travel-highlighted-items')
  : Promise.resolve(require('~/data/trips-and-travel-highlighted-items'))
const travelUHPromise = process.BROUSER_BUILD
  ? import('~/data/trips-and-travel-unhighlighted-items')
  : Promise.resolve(require('~/data/trips-and-travel-unhighlighted-items'))

export default {
  name: 'TripsAndTravelPosts',

  components: {
    'trips-and-travel-highlighted-card': TripsandTravelHighlightedCard,
    'trips-and-travel-unhighlighted-card': TripsandTravelUnhighlightedCard
  },

  async asyncData() {
    const travelJsonData = await travelPromise
    const travelUHJsonData = await travelUHPromise
    return {
      tripsAndTravels: travelJsonData,
      travelUHData: travelUHJsonData
    }
  }
}
</script>

<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ededed;
}

.sec {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0;
}

.wrapper-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .wrapper-container {
    width: 90%;
  }
}
</style>
