<template>
  <div class="secs">
    <div class="sec sec-0">
      <div class="wrapper">
        <div class="wrapper-container">
          <h1 class="sk-title sk-menuheading">MUMBAI EXPERIENCE</h1>
          <div class="article-section section-right">
            <div class="sec-texts sk-texts">
              <p>
                The Mumbai visit was on purpose, one of my friend engagements
                who live in Bangalore, Mumbai because his fiancé settled with
                family there. So, the trip was with him and one of our other
                friends we were really close in our college days. It was about
                1400 km journey from home my native place Kerala with a few
                hours of the halt in Bangalore to join with these friends by a
                bus. That was a really weird decision to travel 1400 km by bus,
                but yeah, I kind of enjoyed that actually. The rocky hills,
                tunnels, and cliffs seen between the journey were amazed me and
                the culture, people, agriculture is totally different from my
                place and I kind of enjoyed seeing all these.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-1">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-left">
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Khandala Valley</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/khandala-valley-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/khandala-valley-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/khandala-valley-medium.jpg 720w
                    ~/assets/images/trips-and-travel/mumbai-experience/khandala-valley-small.jpg 395w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Khandala Valley"
                />
              </figure>
            </div>
            <div class="sec-texts sk-texts">
              <p>
                During the journey, we passed through the Pune city which is
                nice and clean also not much traffic, because the buildings are
                scattered without congestion there is not much traffic feel like
                the other cities. Then the entry to Mumbai, the feeling I want
                to talk much about when I visited that place, the feeling which
                I will never forget. To understand what I have felt when entered
                into the city of Mumbai you could have watched the movie Sicario
                (2015) in that the feeling when watching the team travels in
                force to Ciudad Juárez, Mexico, to extradite Díaz's brother and
                henchman Guillermo Díaz (Edgar Arreola).
              </p>
              <p>
                I have lived my entire life in an almost calm place and very few
                years in the cities and that view which I have experienced when
                I entered into the Mumbai city really amazed me along with that
                amazement I had a feeling of horrible also, some buildings are
                taller and become black colored because of no maintenance and
                seems people live there are not living in a clean, spacious,
                brighter or happier life and the other part of the place not
                very long in distance with same as tall as spoke earlier but
                entirely opposite to their living condition and that makes my
                heart felt really bad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-2">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-right">
            <div class="sec-texts sk-texts">
              <p>
                At the very first even though felt little bad move on travel
                little deeper into the city started to feel better even though
                had able to see such situation often somewhere very less and
                thinking that we could not do anything about that now and feel
                only the sympathy for them and move on with the flow of the
                journey. It is always special for visiting a new place whether
                or not the place is so much to watch. The traffic was very high
                compared to the cities I have been to earlier but that does not
                spoil the flow of the journey though if there are a lot other
                things bothered us. Many places or things that I have read or
                watched only in the newspaper or television are just in front of
                me as live as close. Finally, the journey end at last in a hotel
                room and after a nice shower and lunch went for a deep sleep
                that threw away the stress out.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-3">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-left">
            <div class="sec-texts sk-texts">
              <p>
                Left the hotel early evening with friends to have a visit to
                know the city more even close. That was an entirely different
                experience that I ever had, civilization is far better than the
                cities I have visited before, the modern culture mostly from the
                western side of the earth can be seen all the place and a mixed
                culture with Indian but rarely find the pure Mumbai culture
                especially in the evening from such an economical place, can’t
                complaint about that. But still found people are getting ready
                for a small festival somewhere around the remote place while
                return to the hotel and can find people are crowded for the
                preparation of the festival, well that’s what India is doesn’t
                it, after all, India is a culturally diverse and fervent
                society.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-4">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-right">
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Marine Drive</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/marine-drive-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/marine-drive-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/marine-drive-medium.jpg 720w
                    ~/assets/images/trips-and-travel/mumbai-experience/marine-drive-small.jpg 395w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Marine Drive"
                />
              </figure>
            </div>
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Taj Mahal Hotel</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/taj-mahal-hotel-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/taj-mahal-hotel-large.jpg 1800w,
                    ~/assets/images/trips-and-travel/mumbai-experience/taj-mahal-hotel-medium.jpg 900w
                    ~/assets/images/trips-and-travel/mumbai-experience/taj-mahal-hotel-small.jpg 400w"
                  sizes="(min-width: 1024px) 1800px,
                    (min-width: 500px) and (max-width: 1024) 900px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Marine Drive"
                />
              </figure>
            </div>
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Gateway of India</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/gateway-of-india-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/gateway-of-india-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/gateway-of-india-medium.jpg 720w
                    ~/assets/images/trips-and-travel/mumbai-experience/gateway-of-india-small.jpg 395w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Marine Drive"
                />
              </figure>
            </div>
            <div class="sec-texts sk-texts">
              <p>
                In the next morning, we left the friend with his family who is
                about to get engaged to have some preparation for the engagement
                which is about to happen in the very next day. The outing was
                intended to visit all places in Mumbai as much as possible. We
                drove through the Bandra Bandstand a walkway along the sea on
                the western coast of Mumbai to visit the Gateway of India and
                The Taj Mahal Palace Hotel one of the attacks occurred in the
                2008 Mumbai attack. The weather was too hot and a ferry ride
                helped a bit. On the ride, the guide was talking about the
                diversity around what we were seeing and the history of the
                gateway of India.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-5">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-left">
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Bandra Worli Sea Link</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/bandra-worli-sea-link-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/bandra-worli-sea-link-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/bandra-worli-sea-link-medium.jpg 800w
                    ~/assets/images/trips-and-travel/mumbai-experience/bandra-worli-sea-link-small.jpg 400w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Khandala Valley"
                />
              </figure>
            </div>
            <div class="sec-texts sk-texts">
              <p>
                Then move on to visit Chhatrapati Shivaji Vastu Sangrahalaya
                Museum formerly named the Prince of Wales Museum of Western
                India. The museum was a lot to see and understand, exhibits of
                ancient Indian history as well as objects from foreign lands
                because of the lack of my comprehension of artefact forced the
                early exit of the museum. We drove through the Bandra Worli sea
                link to Juhu beach to see the much-awaited sunset, the beach had
                a huge crowd, the view of every scene from the beach was amazing
                and the sunset either. In between the trip we had seen many
                other notable things like Nariman Point, many celebrity houses
                and many more. Of course, the trip was incomplete there are many
                other places to visit and know in Mumbai.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-6">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section section-right">
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">
                  Chhatrapati Shivaji Terminus
                </h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/chhatrapati-shivaji-terminus-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/chhatrapati-shivaji-terminus-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/chhatrapati-shivaji-terminus-medium.jpg 720w
                    ~/assets/images/trips-and-travel/mumbai-experience/chhatrapati-shivaji-terminus-small.jpg 400w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Khandala Valley"
                />
              </figure>
            </div>
            <div class="sec-texts sk-texts">
              <p>
                From the trip couple of things is always in the memories they
                are the art and food of the city which cannot leave without
                saying a word. The ruling of different legendary emperors,
                Portuguese and British from time to time made the city diverse
                among the others. The architecture of the city with European
                influences and Art Deco buildings makes the city beautiful. We
                will find at least a minimum standard of food even in the very
                small hotels in Mumbai that’s made me impressive because I have
                not experienced such a feeling of food. There are many places
                with nice food in my native but some are worst in some crowded
                places where people occasionally visit, but in the case of food
                in Mumbai really amazed me, I am from the different place having
                different taste of food but I had never felt bad about the food
                in that three days of stay in the Mumbai city.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec sec-7">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="article-section">
            <div class="image-flex">
              <div class="image-heading">
                <h5 class="sk-sec-subhead sk-texts">Juhu Beach</h5>
              </div>
              <figure class="sec-img">
                <img
                  src="~/assets/images/trips-and-travel/mumbai-experience/juhu-beach-large.jpg"
                  srcset="~/assets/images/trips-and-travel/mumbai-experience/juhu-beach-large.jpg 1060w,
                    ~/assets/images/trips-and-travel/mumbai-experience/juhu-beach-medium.jpg 720w
                    ~/assets/images/trips-and-travel/mumbai-experience/juhu-beach-small.jpg 400w"
                  sizes="(min-width: 1024px) 1060px,
                    (min-width: 500px) and (max-width: 1024) 720px,
                    (max-width: 500px) 390px,
                    1060px"
                  alt="Khandala Valley"
                />
              </figure>
            </div>
            <div class="sec-texts sk-texts">
              <p>
                It was a really nice experience participating in an event which
                is far away from the home with a different culture and different
                people. After the engagement, I and my friend left Mumbai to
                Bangalore where I had lived for five years for my studies
                remembering all the college days and the happiness had with
                previous room and friends and the neighbours and waved for one
                more time and left to home. Reached home by the end of the night
                with tired of the journey and the memories of the past four days
                in front of the eyes lay down and went for a deep sleep.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MumbaiExperience'
}
</script>

<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs,
.sec,
.wrapper {
  width: 100%;
}

.secs {
  overflow: hidden;
  background-color: #ededed;
}

.wrapper {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 3rem;
}

h1.sk-title.sk-menuheading {
  text-align: left;
  color: black;
  text-shadow: 0px 10px 20px #2f2e2e;
  padding-bottom: 2rem;
}

.article-section {
  width: 80%;
  padding: 2rem 3rem;
  background-color: white;
}

.section-left {
  margin-right: auto;
}

.section-right {
  margin-left: auto;
}

.sec-img {
  width: 100%;
}

.sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.image-heading {
  position: relative;
  width: 3rem;
}

.image-heading h5.sk-sec-subhead.sk-texts {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
}

.sec-7 .article-section {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .wrapper-container {
    width: 90%;
    /* margin-bottom: 3rem; */
  }

  .article-section {
    width: 100%;
    padding: 1rem;
  }

  .image-heading {
    width: 2rem;
  }
}
</style>
