<template>
  <div class="secs">
    <div class="secs-container-0">
      <div class="sec sec-0">
        <div class="wrapper">
          <h1 class="sk-title sk-menuheading">
            SELF-HELP AND PERSONAL DEVELOPMENT
          </h1>
          <self-help-card v-if="shArticles" :sh-articles="shArticles" />
          <div class="view-all-postnav">
            <nuxt-link
              to="/article/self-help-and-personal-development/self-help-and-personal-development-posts/"
              >VIEW ALL POSTS</nuxt-link
            >
            <span>
              <font-awesome-icon icon="arrow-right" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="secs-container-1">
      <div class="sec sec-1">
        <div class="wrapper">
          <figure class="sec-img">
            <img
              src="~/assets/images/self-help-and-personal-development/stone-balancing-large.jpg"
              srcset="
                ~/assets/images/self-help-and-personal-development/stone-balancing-large.jpg  1040w,
                ~/assets/images/self-help-and-personal-development/stone-balancing-medium.jpg  860w,
                ~/assets/images/self-help-and-personal-development/stone-balancing-medium.jpg  400w
              "
              sizes="(min-width: 1024px) 1140px,
                (min-width: 500px) and (max-width: 1024px) 800px,
                (max-width: 500px) 390px"
              alt="Stone Balancing"
            />
          </figure>
          <div class="sec-texts sk-texts">
            <p>
              Any posts through the portfolio intend to write to someone that
              may help instead of writing to myself. Posts are of my thoughts or
              analyzed, not all self-help may be suite entirely for you
              sometimes it goes worse because it is not possible to understand
              someone who how they comprehend personally until unless
              interacting with the person for enough number of times. It is
              difficult to get or have all things which are necessary to live a
              better life in all the way, even the person we thought are living
              better might be lacking in any of his other side which we are not
              able to see. It is not true always that people settled with
              financial advantages are living better life instead we can find
              people living better life from poorest living condition to the
              richest, it is due to the capability of our mind. So, someone who
              is incapable with that can find an alternative by making a better
              living condition, making financially good enough to live our
              desired life or making a good relationship with people for
              happiness and to learn our negativizes.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-2">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              Before I was thinking about my portfolio, I was like thinking
              normal as like many people who want to live simple or normal life
              by doing my job as usual, spend time with family and friends to
              enjoy myself and join in some events but eventually found it is
              not possible to live a simple or normal life without effort. The
              luckiest people are living among such people when you live among
              the people who are vicious about their life eventually you become
              like one of them only if you interact with them and have the
              ability to accept the facts which others state. If you are not
              living in such circumstances you should go beyond that, but it is
              always not the right choice, sometimes you are incapable of
              knowing the fact that you can learn from wherever you are. I went
              beyond my situation with the help of reading from the sources of
              far beyond my surroundings, for that current technology helped a
              lot. With the Help of lots of reading came to the conclusion that
              I am incapable of learning things from where ever I am, now I am
              found myself good to keep both ways as to learn things.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-3">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              If you are not started that way try to start from the scratch to
              everything possible, or if you are only lacking in some of the
              negatives try to figure out and learn to crack those particular
              negative things. I have a good experience to start from scratch
              because when I was started I had nothing to keep in mind. So here
              I am posting articles about how I developed myself from the
              scratch one by one and planning to post the things how do crack
              our negatives or improve what or where we are lacking in, so if
              you are not concerned with start improving yourself yet or
              thinking you are beginner requesting you to read from the
              beginning posts. It is not possible to learn everything that
              necessary in our life especially when our ages getting added each
              year so it is necessary to learn until we die.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-4">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              Sometimes we can't live always on our own, it is necessary to
              learn from others without even considering their age, color,
              gender or community. There might be some reason if you don't see
              that not helping you, most of the scenario is either people around
              you are not good enough to present the fact well or you are not
              good enough to understand or find the facts what others states
              which might help you improve and some very rare scenario people's
              arrogance makes them feel they don't see that not helping them. I
              was one them as stated first, I still don't recognize which is
              that people around me are not good enough to present the facts or
              I am not good enough to understand or find the fact what others
              states, more specifically may be because of both reasons. Anyway,
              once I started making the reading habit started to value what
              others suggested. It is not always right what any resource states
              so it is mandatory to analyze or cross verify with other resources
              before considering it.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-5">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              The religious texts are the most influenced scriptures in the
              world influenced humanity to designated behaviors and practices,
              morals, sanctified, ethics, or organizations, and this is still as
              it is because I personally believe people are still reading or
              come across as different way the same religious texts as
              repetitively, so this repetitive process also important in this
              small process of self-help or self-improvement. Even though a
              person is talented in many things taking his/her entire life might
              not be successful, some part of the life of that person needs to
              improve because of the lack of organization.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-6">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              People forget things, people may have got a lot of great ideas to
              improve themselves and to implement or induce those ideas in their
              life, but still there might be a lot of other parts of the
              person’s life or attitude needs to be improved because everything
              is depended on each other, so to be a successful person it is
              required to have a lot of great ideas in different part of our
              life or attitude to be implemented compactly, for that it is
              required to remember all the ideas comes in our mind in different
              time of our life in our entire life, unfortunately, most humans
              are incapable of that.
            </p>
          </div>
        </div>
      </div>
      <div class="sec sec-7">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              Each person has the ability to induce great ideas to improve their
              life but most of the time it is lack of the organization of those
              ideas they always forget to take care of. There where these
              religious texts become more influenced because it is entirely
              organized to induce success on a person. So, what we can do is
              elaborate which part of it is we are lacking and needs to be
              improved, based on the person's attitude organize all ideas to
              implement in our life as much as possible the same way the
              religious texts had organized and read, come across or involve in
              that repetitively to make the life better.
            </p>
          </div>
          <figure class="sec-img">
            <img
              src="~/assets/images/self-help-and-personal-development/believe-in-yourself-large.jpg"
              srcset="
                ~/assets/images/self-help-and-personal-development/believe-in-yourself-large.jpg  1060w,
                ~/assets/images/self-help-and-personal-development/believe-in-yourself-medium.jpg  900w,
                ~/assets/images/self-help-and-personal-development/believe-in-yourself-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1140px,
                (min-width: 500px) and (max-width: 1024px) 800px,
                (max-width: 500px) 390px"
              alt="Believe In Yourself"
            />
          </figure>
          <div class="view-all-postnav">
            <nuxt-link
              to="/article/self-help-and-personal-development/self-help-and-personal-development-posts/"
              >VIEW ALL POSTS</nuxt-link
            >
            <span>
              <font-awesome-icon icon="arrow-right" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SelfHelpCard from '~/components/self-help-card'
const selfHelpPromise = process.BROUSER_BUILD
  ? import('~/data/self-help-highlighted-posts')
  : Promise.resolve(require('~/data/self-help-highlighted-posts'))

export default {
  name: 'SelfHelpAndPersonalDevelopment',
  components: {
    'self-help-card': SelfHelpCard
  },

  async asyncData() {
    const selfHelpJsonData = await selfHelpPromise
    return { shArticles: selfHelpJsonData }
  }
}
</script>

<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs,
.sec {
  width: 100%;
}

.secs {
  background-color: #f6f6ee;
  padding-bottom: 3rem;
}

.secs-container-0,
.secs-container-1 {
  width: 80%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.secs-container-1 {
  background-color: white;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  padding-bottom: 1rem;
}

.sec-0 .wrapper,
.sec-7 .wrapper {
  padding-bottom: 3rem;
}

.sec-1 .wrapper {
  padding-top: 3rem;
}

.view-all-postnav {
  width: 160px;
  height: 45px;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8rem;
  color: black;
  margin-left: auto;
  background-color: white;
  border: 1px solid gray;
}

.view-all-postnav span:last-child {
  margin-left: auto;
}

.view-all-postnav a {
  text-decoration: none;
  color: black;
}

.view-all-postnav a:hover {
  color: #7e7e81;
}

.sec-7 .view-all-postnav {
  margin: 0 auto;
}

.sec-img {
  width: 100%;
}

.sec-img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .sec-1 .sec-img img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .secs {
    padding-bottom: 2rem;
  }

  .secs-container-0,
  .secs-container-1,
  .wrapper {
    width: 90%;
  }

  .sec-0 .wrapper,
  .sec-7 .wrapper {
    padding-bottom: 2rem;
  }

  .sec-1 .wrapper {
    padding-top: 2rem;
  }
}
</style>
