<template>
  <section class="sec">
    <div class="wrapper">
      <div class="wrapper-sidebar">
        <span title="Started">{{ writing.startDate }}</span>
        <div />
        <span title="Finished">{{ writing.finishedDate }}</span>
      </div>
      <div class="wrapper-container">
        <div class="card-container">
          <figure class="card-figure">
            <a
              :href="writing.sourceLink"
              :title="writing.sourceName"
              target="_blank"
            >
              <img :src="imageRoute" :alt="writing.imageAlt" />
            </a>
          </figure>
          <div class="card-desc">
            <div class="updated-date-and-rating">
              <span class="updated-date"
                ><font-awesome-icon :icon="['far', 'edit']" />
                {{ writing.updateDate }}</span
              >
              <div class="sk-readings-rating">
                <span title="Reviewer rating">{{ writing.myRating }}</span>
              </div>
            </div>
            <h3 class="sk-chapter">{{ writing.title }}</h3>
            <p class="review-intro">{{ writing.review }}</p>
            <span class="writings-isbn">ISBN : {{ writing.isbn }}</span>
            <span class="nav-review-container">
              <hr />
              <span
                ><nuxt-link :to="reviewRoute">Continue Read</nuxt-link></span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'ReadingsShelvesItem',

  props: {
    writing: {
      type: Object,
      default: function() {
        return ''
      }
    }
  },

  computed: {
    imageRoute: function() {
      return require('@/assets/images/readings/' + this.writing.imageRoute)
      // The bolw code is used when the images are in static directory
      // return '../images/' + this.writing.imageRoute
    },
    reviewRoute: function() {
      return '/readings/readings-shelves/' + this.writing.reviewRoute
    }
  }
}
</script>
<style>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.wrapper {
  width: 75%;
  padding: 0 0.2rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
}

.wrapper-sidebar {
  flex: 0 0 5.2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wrapper-sidebar div {
  width: 35%;
  flex: 1 0 auto;
  background-color: #373761;
  margin: 0.5rem 0;
}

.wrapper-container {
  flex: 1 1 auto;
  padding: 4rem 1rem;
}

.card-container {
  display: flex;
  flex-flow: row;
  background-color: white;
  box-shadow: 5px 5px 30px 10px #b1ad9f;
  border-radius: 0.4rem;
}

.card-figure {
  flex: 1 0 35%;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.card-figure a {
  display: block;
  text-align: center;
}

.card-figure img {
  width: 90%;
  object-fit: contain;
}

.card-desc {
  margin: auto 0;
  padding: 1rem 1rem;
}

.card-desc p {
  margin-bottom: 1rem;
}

.updated-date-and-rating {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  padding: 0.5rem 0;
  align-items: baseline;
}

.sk-readings-rating {
  margin-right: 1rem;
  padding: 0.2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.nav-review-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.writings-isbn {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

.nav-review-container hr {
  flex: 1;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
}

.nav-review-container a {
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }

  .wrapper-container {
    padding-left: 0;
    padding-right: 0;
  }

  .card-desc {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .wrapper-sidebar span {
    font-size: 0.9rem;
  }

  .card-container {
    flex-wrap: wrap;
    box-shadow: 5px 5px 30px 3px #b1ad9f;
  }
}
</style>
