<template>
  <div class="sh-cards-container">
    <div v-for="shArticle in shArticles" :key="shArticle.key" class="sh-card">
      <div class="sh-card-content">
        <figure v-if="shArticle.imageRoute" class="sec-img">
          <img
            :src="getImagePath(shArticle.imageRoute)"
            :style="{ 'object-position': shArticle.imgObjectPosition }"
            alt="shArticle.imageAltValue"
          />
        </figure>
        <div class="sec-texts sk-texts">
          <h3 class="sk-chapter">{{ shArticle.title }}</h3>
          <p>{{ shArticle.description }}</p>
        </div>
      </div>
      <hr />
      <span class="updated-date sk-texts">{{ shArticle.updateDate }}</span>
      <div class="article-link-container">
        <nuxt-link :to="getArticleRoute(shArticle.articleRoute)"
          ><font-awesome-icon icon="angle-down"
        /></nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SelfHelpCard',

  props: {
    shArticles: {
      type: Array,
      default: function() {
        return []
      }
    }
  },

  methods: {
    getImagePath: function(fileName) {
      return require('@/assets/images/self-help-and-personal-development/' +
        fileName)
    },

    getArticleRoute: function(fileName) {
      return (
        '/article/self-help-and-personal-development/self-help-and-personal-development-posts/' +
        fileName
      )
    }
  }
}
</script>
<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 1.75;
}

.sh-cards-container,
.sh-card {
  width: 100%;
}

.sh-card {
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 49px 14px -35px #b1ad9f;
  margin-bottom: 5rem;
  position: relative;
}

.sh-cards-container .sh-card:last-child {
  margin-bottom: 4rem;
}

.sk-chapter {
  color: black;
  font-weight: 500;
}

.sh-card-content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.sec-img {
  flex: 1 1 40%;
  height: 250px;
  margin-right: 1.5rem;
  position: relative;
  top: -3rem;
  margin-bottom: -2rem;
}

.sec-texts {
  flex: 1 1 60%;
  height: 218px;
}

.sec-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-link-container {
  position: absolute;
  bottom: -1.8rem;
  right: 4rem;
  background-color: #4a79e8;
  border-radius: 50%;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  text-align: center;
}

.article-link-container a {
  color: white;
}

.article-link-container a:hover {
  color: #919cb7;
}

.sh-card hr {
  margin: 0;
}

.updated-date.sk-texts {
  color: #575853;
  font-size: 1.1rem;
  font-weight: 500;
}

.sec-texts.sk-texts {
  position: relative;
  overflow: hidden;
}

.sec-texts.sk-texts::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 100%;
  height: 4em;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .sh-card-content {
    flex-flow: column;
    height: auto;
  }

  .sec-img {
    height: auto;
    margin-right: 0;
  }

  .sec-img img {
    height: auto;
    object-fit: contain;
  }

  .sec-texts {
    height: auto;
  }

  .article-link-container {
    right: 40%;
  }

  .updated-date.sk-texts {
    margin-bottom: 1rem;
  }
}
</style>
