<template>
  <div class="highlighted-articles-wrapper">
    <div
      v-for="tripsAndTravel in tripsAndTravels"
      :key="tripsAndTravel.id"
      class="travel-article"
    >
      <div class="article-container">
        <div class="sec-texts sk-texts">
          <div class="edge-fade-box">
            <h2 class="sk-subtitle">{{ tripsAndTravel.title }}</h2>
            <p>{{ tripsAndTravel.description }}</p>
          </div>
          <span class="article-updatedate"
            >Updated Date: {{ tripsAndTravel.updateDate }}</span
          >
        </div>
        <figure class="sec-img">
          <img
            :src="getImagePath(tripsAndTravel.imageRoute)"
            :style="{ 'object-position': tripsAndTravel.imgObjectPosition }"
            alt="tripsAndTravel.imageAltValue"
          />
          <div class="read-articlenav">
            <nuxt-link :to="getArticleRoute(tripsAndTravel.articleRoute)"
              >READ ARTICLE</nuxt-link
            ><span><font-awesome-icon icon="arrow-right"/></span>
          </div>
        </figure>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TripsandTravelHighlightedCard',

  props: {
    tripsAndTravels: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  methods: {
    getImagePath: function(fileName) {
      return require('@/assets/images/trips-and-travel/' + fileName)
      // Note: Do not remove the below commented code, so that we can take it as reference if the above one failed, because the below one is
      // alternative for the above code.
      // return require('../assets/images/' + fileName)
    },
    getArticleRoute: function(fileName) {
      return '/article/trips-and-travel/trips-and-travel-posts/' + fileName
    }
  }
}
</script>
<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.highlighted-articles-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.travel-article {
  width: 425px;
  min-width: 425px;
  padding: 3rem 1.5rem 1.5rem;
  background-color: white;
  box-shadow: 0 49px 14px -35px #b1ad9f;
  margin: 0 3rem 3rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sk-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.sec-texts.sk-texts {
  color: #7e7e81;
  line-height: 1.75;
}

.sec-texts .edge-fade-box {
  height: 260px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
}

.sec-texts .edge-fade-box::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 100%;
  height: 4em;
}

span.article-updatedate {
  color: black;
  font-family: Comic Sans MS;
}

.article-container .sec-img {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
}

.article-container .sec-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.read-articlenav {
  position: absolute;
  top: 45px;
  right: 0;
  width: 145px;
  height: 45px;
  background-color: white;
  font-weight: 600;
  border-radius: 0.3rem 0 0 0.3rem;
  padding-left: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8rem;
  color: black;
}

.read-articlenav span:last-child {
  margin-left: auto;
  margin-right: 11px;
}

.read-articlenav a {
  text-decoration: none;
  color: black;
}

.read-articlenav a:hover {
  color: #7e7e81;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .highlighted-articles-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .travel-article {
    margin: 0 0 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .travel-article {
    padding: 2rem 1rem 1rem;
    min-width: initial;
  }
  .sec-texts .edge-fade-box {
    height: auto;
    max-height: 290px;
  }
}
</style>
