span {
	font-size: 0.8rem;
}
a {
	color: #999;
	text-decoration: underline;
}
a:hover {
	color: #111;
}
a:active,
a:hover {
	outline: 0;
}
a {
	transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}