.sk-title {
  /* h1 */
  font-size: 3.5rem;
  font-weight: inherit;
}

.sk-subtitle {
  /* h2 */
  font-size: 2.5rem;
  font-weight: inherit;
}

.sk-chapter {
  /* h3 */
  font-size: 2rem;
  font-weight: inherit;
}

@media screen and (max-width: 660px) and (min-width: 320px) {
  .sk-title {
    font-size: 2.75rem;
  }
  
  .sk-subtitle {
    /* h2 */
    font-size: 2rem;
  }

  .sk-chapter {
    /* h3 */
    font-size: 1.75rem;
  }
}

.sk-sec-head {
  /* h4 */
  font-size: 1.50rem;
  font-weight: inherit;
}

.sk-sec-subhead {
  /* h5 */
  font-size: 1.25rem;
}

.sk-title.sk-menuheading {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  color: #404040;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .sk-title.sk-menuheading {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}