<template>
  <span
    >{{ creator }} [ <a :href="licenseLink" target="_blank">{{ licenseType }}</a
    >], via <a :href="sourceLink" target="_blank">{{ sourceName }}</a></span
  >
</template>
<script>
export default {
  name: 'CcBySa',
  props: {
    licenseLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    licenseType: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceName: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creator: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
