<template>
  <span
    >Photo credit: <a :href="creatorSource" target="_blank">{{ creator }}</a> on
    <a :href="sourceLink" target="_blank">{{ sourceName }}</a> /
    <a :href="licenseLink" target="_blank">{{ licenseType }}</a></span
  >
</template>
<script>
export default {
  name: 'CcByVisualHunt',
  props: {
    licenseLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceLink: {
      type: String,
      default: 'https://visualhunt.com/',
      validator: function(value) {
        return value !== ''
      }
    },
    licenseType: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceName: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creator: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creatorSource: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
