<template>
  <span
    >Image by <a :href="sourceLink" target="_blank">{{ creator }}</a> from
    <a :href="providerLink" target="_blank">{{ providerName }}</a></span
  >
</template>
<script>
export default {
  name: 'CcZeroPixabay',

  props: {
    providerLink: {
      type: String,
      default: 'https://pixabay.com/',
      validator: function(value) {
        return value !== ''
      }
    },
    providerName: {
      type: String,
      default: 'Pixabay',
      validator: function(value) {
        return value !== ''
      }
    },
    creator: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
