<template>
  <span
    >Photo on <a :href="sourceLink" target="_blank">{{ sourceName }}</a></span
  >
</template>
<script>
export default {
  name: 'CcZero',

  props: {
    sourceLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceName: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
