<template>
  <span
    >Free photo <a :href="sourceLink" target="_blank">{{ sourceId }}</a> ©
    <a :href="creatorLink" target="_blank">{{ creator }}</a> |
    <a :href="providerLink" target="_blank">{{ providerName }}</a></span
  >
</template>
<script>
export default {
  name: 'CcZeroDS',
  props: {
    sourceLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceId: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creator: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creatorLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    providerLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    providerName: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
