<template>
  <span
    >Image Credit:
    <a :href="sourceLink" target="_blank">{{ sourceName }}</a>
    <span v-if="creator !== 'Nill'"> by {{ creator }}</span></span
  >
</template>
<script>
export default {
  name: 'WebsiteSource',

  props: {
    sourceLink: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    sourceName: {
      type: String,
      default: '',
      validator: function(value) {
        return value !== ''
      }
    },
    creator: {
      type: String,
      default: 'Nill',
      validator: function(value) {
        return value !== ''
      }
    }
  }
}
</script>
<style scoped>
@import 'assets/css/credit-badge-style.css';
</style>
