<template>
  <div class="secs">
    <section class="sec sec-0">
      <div class="wrapper">
        <div class="wrapper-container">
          <h1 class="sk-title sk-menuheading">TRIPS AND TRAVEL</h1>
          <template v-if="tripsAndTravels">
            <trips-and-travel-highlighted-card
              :trips-and-travels="tripsAndTravels"
            />
          </template>
          <div class="view-all-postnav">
            <nuxt-link to="/article/trips-and-travel/trips-and-travel-posts/"
              >VIEW ALL POSTS</nuxt-link
            >
            <span>
              <font-awesome-icon icon="arrow-right" />
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-1">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              A trip, a journey to a place that relief weariness of physical and
              mental, any outings and a travel to a place for exploration and
              expedition all these are essential to live a healthiest, brightest
              and happiest life of all time. It is essential to leave everything
              behind and leave for at least for an outing in between our work or
              objectives which makes us think a lot and hold us for the same
              place for long.
            </p>
          </div>
          <figure class="sec-img">
            <img
              srcset="
                ~/assets/images/trips-and-travel/outing-refresh-large.jpg  1060w,
                ~/assets/images/trips-and-travel/outing-refresh-medium.jpg  860w,
                ~/assets/images/trips-and-travel/outing-refresh-small.jpg   390w
              "
              sizes="(min-width: 900px) 1060px,
                (min-width: 500px) and (max-width: 900) 860px,
                (max-width: 500px) 390px,
                1060px"
              src="~/assets/images/trips-and-travel/outing-refresh-large.jpg"
              alt="Refresh Mind"
            />
            <figcaption>
              <cc-zero-unsplash
                creator="Julia Caesar"
                source-link="https://unsplash.com/@juliacaesar?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
              />
            </figcaption>
          </figure>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-2">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              Our strength of health and mind are more like a Sands of time, it
              may not loose but it goes down in a matter of time, so it is
              important to restore to make best out of it. So, how do restore
              that vital thing that help us move on to achieve our objective is
              so much matter. There where the point of a trip, travel,
              exploration, expedition or outing coming. At least for me at the
              end of the week might feel like some kind of pressure generated
              inside the head because of mental and physical weariness, it is
              important to release the pressure inside head to feel strong or to
              feel refreshed, so that you can give your most out of it in the
              coming days.
            </p>
          </div>
          <figure class="sec-img">
            <img
              srcset="
                ~/assets/images/trips-and-travel/outing-restore-large.jpg  1060w,
                ~/assets/images/trips-and-travel/outing-restore-medium.jpg  860w,
                ~/assets/images/trips-and-travel/outing-restore-small.jpg   390w
              "
              sizes="(min-width: 1024px) 1060px,
                (min-width: 500px) and (max-width: 1024) 860px,
                (max-width: 500px) 390px,
                1060px"
              src="~/assets/images/trips-and-travel/outing-restore-large.jpg"
              alt="Restore strength"
            />
            <figcaption>
              <cc-zero-unsplash
                creator="Simon Rae"
                source-link="https://unsplash.com/@simonrae?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
              />
            </figcaption>
          </figure>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-3">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              Even though the career you had chosen which you might have most
              interested, but still, to find a result it is important to work
              hard towards your objectives. One might have a question then what
              is the point here choosing the most interested, the answer is
              simple as that to have the definiteness, persistence, desire,
              accurate, habitual, courage and our will towards achieving our
              objectives.
            </p>
          </div>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-4">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              There are number of advantages going for the trip, travel or
              whatever that helps you out of something which give you stress.
              Persistence in our activity which helps to build our desire have a
              good role and for that continuous work towards it is required for
              a particular hours of work in each day which should not be more or
              less and both have equal importance, but we are a kind who lose
              our strength in a long run, choosing the right method to release
              our weariness and at the same time keep our persistence. There are
              number of options for that like watching tv, listening to music
              and many more but none of them helps the way the trip, travel or
              any other outings help.
            </p>
          </div>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-5">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              Keep in mind that to feel persistence should not feel that you
              wasted your time, anything which is not giving you positiveness
              feel you wasted time with it. Think you watching your favorite
              team lose, you watching a movie or any program for a couple of
              hours and that finally end up in vain or you should have the
              talent to accept anything badly come across you. But rather
              choosing any of these to go for a trip advance your health and
              mind by involving in many activities, explore and expedition, meet
              new people or option to communicate with lot of other people, to
              know the opportunities and gain knowledge from diverse, know your
              weakness or inabilities and work towards it, and experience.
            </p>
          </div>
          <figure class="sec-img">
            <img
              srcset="
                ~/assets/images/trips-and-travel/outing-learn-large.jpg  1440w,
                ~/assets/images/trips-and-travel/outing-learn-medium.jpg  900w,
                ~/assets/images/trips-and-travel/outing-learn-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1440px,
                (min-width: 500px) and (max-width: 1024) 860px,
                (max-width: 500px) 390px,
                1060px"
              src="~/assets/images/trips-and-travel/outing-learn-large.jpg"
              alt="Learn Surrounding"
            />
            <figcaption>
              <cc-zero-unsplash
                creator="Miguel Perales"
                source-link="https://unsplash.com/@miguelperales?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
              />
            </figcaption>
          </figure>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-6">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              I have been to a lot of places multiple times but still not feel
              sameness if so I won’t looking forward to visit that place again,
              indifference because of sameness does not matter but the
              experience we get out of it really matters, spending time with
              closest people around us or lot of other people you met which give
              you an experience change the way of thinking the sameness.
            </p>
          </div>
          <figure class="sec-img">
            <img
              srcset="
                ~/assets/images/trips-and-travel/outing-experience-large.jpg  1360w,
                ~/assets/images/trips-and-travel/outing-experience-medium.jpg  900w,
                ~/assets/images/trips-and-travel/outing-experience-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1360px,
                (min-width: 500px) and (max-width: 1024) 860px,
                (max-width: 500px) 390px,
                1060px"
              src="~/assets/images/trips-and-travel/outing-experience-large.jpg"
              alt="Experience"
            />
            <figcaption>
              <cc-zero-unsplash
                source-link="https://unsplash.com/@wildlittlethingsphoto?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                creator="Helena Lopes"
              />
            </figcaption>
          </figure>
          <div class="sidebar-right" />
        </div>
      </div>
    </section>
    <section class="sec sec-7">
      <div class="wrapper">
        <div class="wrapper-container">
          <div class="sec-texts sk-texts">
            <p>
              When you leaving for a trip or travel for pleasure keep in mind
              that leave everything behind what you having in your mind related
              to work, relations and all negatives having in your mind and only
              keep in mind or get ready to give your best towards your objective
              for the coming week because that does one really matters.
            </p>
            <p>
              During the trip no work or objective plans, no strategical
              thinking related to work or your objective, not remind you or care
              any unfinished or anything in the to do list, finish off these
              everything before leave for a trip. During the trip try your best
              to empty your mind, release the pressure in your head and refresh
              the mind as much as possible so that you can give the best out of
              you for the prosperity.
            </p>
          </div>
          <div class="view-all-postnav">
            <nuxt-link to="/article/trips-and-travel/trips-and-travel-posts/"
              >VIEW ALL POSTS</nuxt-link
            >
            <span>
              <font-awesome-icon icon="arrow-right" />
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import TripsandTravelHighlightedCard from '~/components/trips-and-travel-highlighted-card'
import CcZeroUnsplash from '~/components/credit-badge/cc-zero-unsplash'
const travelPromise = process.BROUSER_BUILD
  ? import('~/data/trips-and-travel-highlighted-items')
  : Promise.resolve(require('~/data/trips-and-travel-highlighted-items'))

export default {
  name: 'TripsandTravel',
  components: {
    'trips-and-travel-highlighted-card': TripsandTravelHighlightedCard,
    'cc-zero-unsplash': CcZeroUnsplash
  },

  async asyncData() {
    const travelJsonData = await travelPromise
    return { tripsAndTravels: travelJsonData }
  }
}
</script>
<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sec {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0;
}

.wrapper-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sec-0 {
  background-color: #ededed;
}

.sec-0 .wrapper-container {
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.view-all-postnav {
  width: 160px;
  height: 45px;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8rem;
  color: black;
  margin-left: auto;
  background-color: white;
  border: 1px solid gray;
}

.view-all-postnav span:last-child {
  margin-left: auto;
}

.view-all-postnav a {
  text-decoration: none;
  color: black;
}

.view-all-postnav a:hover {
  color: #7e7e81;
}

.sec-1 .wrapper-container,
.sec-2 .wrapper-container,
.sec-3 .wrapper-container,
.sec-4 .wrapper-container,
.sec-5 .wrapper-container,
.sec-6 .wrapper-container {
  position: relative;
  margin-bottom: 4rem;
}

.sec-texts {
  width: 65%;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.sec-img {
  width: 65%;
  margin-left: auto;
  margin-bottom: 0;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sidebar-right {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #344144;
  z-index: -1;
}

.sec-7 .wrapper-container {
  width: 65%;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sec-7 * {
  text-align: center;
}

.sec-7 .view-all-postnav {
  margin: 0 auto;
}

.sec-7 .sec-texts {
  width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .wrapper-container {
    width: 90%;
  }

  .sec-texts {
    width: 70%;
    padding-top: 1rem;
  }

  .sec-img {
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .sec-7 .wrapper-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 90%;
  }

  .sec-0 .wrapper-container {
    width: 90%;
  }

  .sidebar-right {
    width: 25%;
  }
}
</style>
