<template>
  <div class="secs">
    <div class="secs-container-0">
      <div class="sec sec-0">
        <div class="wrapper">
          <h1 class="sk-title sk-menuheading">SELF-HELP POSTS</h1>
          <self-help-card v-if="shArticles" :sh-articles="shArticles" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SelfHelpCard from '~/components/self-help-card'
const selfHelpPromise = process.BROUSER_BUILD
  ? import('~/data/self-help-unhighlighted-posts')
  : Promise.resolve(require('~/data/self-help-unhighlighted-posts'))

export default {
  name: 'SelfHelpAndPersonalDevelopmentPosts',
  components: {
    'self-help-card': SelfHelpCard
  },

  async asyncData() {
    const selfHelpJsonData = await selfHelpPromise
    return { shArticles: selfHelpJsonData }
  }
}
</script>

<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs,
.sec {
  width: 100%;
}

.secs {
  background-color: #f6f6ee;
  padding-bottom: 3rem;
}

.secs-container-0 {
  width: 80%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .secs {
    padding-bottom: 2rem;
  }

  .secs-container-0,
  .wrapper {
    width: 90%;
  }
}
</style>
