<template>
  <div class="secs">
    <div class="sec sec-0">
      <div class="wrapper">
        <h1 class="sk-title sk-menuheading">THE IMPORTANCE OF AN AIM</h1>
        <span class="article-date sk-texts">
          <hr />
          <span>25-February-2019</span>
          <hr />
        </span>
      </div>
    </div>
    <div class="secs-container">
      <div class="sec sec-1">
        <div class="wrapper">
          <div class="sec-texts sk-texts">
            <p>
              The First thing each human being to have in their mind before
              start thinking about developing themselves is their aim. One can
              able to start developing their selves only when they have an aim
              in their mind. One cannot be complete anything which is in their
              mind without a definitive aim or without an intensive desire. It
              is the aim that makes them wake up from their dream and force them
              to put on the action and that action start budding roots, trunk,
              branches, leaves, flowers and finally nourish with fruits of our
              heartiest desires.
            </p>
            <p>
              When you are idle or only spending time to enjoy yourself means
              you don’t have any particular aim. Mostly happens this when you
              grow up as a child when there is no need for any particular aim
              when you have so much fun and enjoy by the help of shade of your
              guide. Once that becomes over at some point of time will start to
              struggle to live bit by bit, so that’s the point where you must
              start find your aim or else it becomes struggle more maybe even
              worse.
            </p>
          </div>
          <figure class="sec-img">
            <img
              src="~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/childhood-aim-large.jpg"
              srcset="
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/childhood-aim-large.jpg  1060w,
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/childhood-aim-medium.jpg  900w,
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/childhood-aim-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1140px,
                (min-width: 500px) and (max-width: 1024px) 800px,
                (max-width: 500px) 390px,
                1060px"
              alt="Childhood Aim"
            />
            <figcaption>
              <cc-zero-pixabay
                source-link="https://pixabay.com/users/StockSnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2619201"
                creator="StockSnap"
                provider-link="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2619201"
              />
            </figcaption>
          </figure>
          <div class="sec-texts sk-texts">
            <h5 class="sk-sec-subhead">So, how does one find their aim?</h5>
            <p>
              One’s own intelligence or getting proper guide makes them able to
              realize their aim when they grow up as a child itself and many
              things influence them to choose their aim when they grow up. At
              the very young age, most chances are their guide influence them to
              choose their aim or sometimes their own interests make them choose
              one, there are other chances as enrolling for something with or
              without your interest becomes your aim. When you grow up sometimes
              your surroundings, people around you or interest over something
              you are involved become most influences to find your aim.
            </p>
          </div>
          <figure class="sec-img">
            <img
              src="~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/parents-guide-large.jpg"
              srcset="
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/parents-guide-large.jpg  1140w,
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/parents-guide-medium.jpg  900w,
                ~/assets/images/self-help-and-personal-development/the-importance-of-an-aim/parents-guide-small.jpg   400w
              "
              sizes="(min-width: 1024px) 1140px,
                (min-width: 500px) and (max-width: 1024px) 800px,
                (max-width: 500px) 390px,
                1060px"
              alt="Parents Guide"
            />
            <figcaption>
              <cc-zero-unsplash
                source-link="https://unsplash.com/@haleyephelps?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                creator="Haley Phelps"
                provider-link="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
              />
            </figcaption>
          </figure>
          <div class="sec-texts sk-texts">
            <p>
              If none of the above said moments has not helped you find your aim
              yet or maybe started struggling in life a bit or even become worse
              then you can choose any of your interest as your aim and start
              putting on action towards it. There will not be anyone without any
              interest in their life in the world if so you will not be reading
              this article. Try to Gain anything with the help of what you are
              enjoying so far, it is someone’s morality make them realize that
              one is right or wrong and that becomes your aim. Many people want
              to live simple or normal life by doing any job, as usual, spend
              time with family, friends or joining in any events to enjoy but it
              finally ends up standing in the position of the same struggle that
              explained above, it is the fact that not possible to live a simple
              or normal life without effort or any particular aim.
            </p>
            <p>
              None of the above said circumstances influenced one to find their
              aim is neither wrong or misleading until unless the person took it
              as his/her desire, either none of them has any higher priority
              over another based on the reputation or anything, it is pointless
              thinking you had found your aim very lately or thinking what
              circumstances are most efficient one that can be possibly
              achieving it. The point is that you found your aim and how you put
              that on the action and finally achieving it will be the most
              decorated thing.
            </p>
            <h5 class="sk-sec-subhead">
              Misunderstanding of what is the aim and what is not?
            </h5>
            <p>
              Every time the one you desired the most become resulted in for
              good will be your aim, doing something which is your interest
              might not be the aim because it may change or it has to be changed
              in order to achieve your main goal. The one you leave in between
              your path might not be your aim or procrastinate something towards
              the aim is not the real one, the one is having persistent,
              definitive, committed actions towards your most desired one will
              be your auspicious aim.
            </p>
            <h5 class="sk-sec-subhead">How to have a firm aim?</h5>
            <p>
              There are different kind of people towards achieving one's aim, so
              understanding what kind of characteristic person you are will
              easing to have a firm aim. Some people are very good at putting
              maximum effort, ready to accept any challenges, struggles or pain
              and some may be ceasing their endeavour because of becoming
              tedious or distress. Some of the aims can be done with maximum
              effort, challenge, struggle or pain with less time without even
              having distress or become tedious, sometimes it may be due to
              people’s talent based on the level of the aim they are having or
              the intensity, eagerness or needfulness of achieving it. So, it is
              up to you what type of characteristics you want to have.
            </p>
            <p>
              For everything, there is enough and reasonable time, analysis and
              wise thinking required to do anything in the world. So, my
              personal recommendation is that without testing and losing in the
              long run take enough time, analysis and with wise thinking learn
              everything that required to achieve your goal. Not just only focus
              on the particular aim instead know everything that surrounded by
              your aim so that it will be with you forever. Learn things are
              required to do or care so that you don’t lose something before
              achieving your aim and that will be even worse than achieving
              something and even might be become horrible as well. Learn what is
              required to satisfy with your aim without greed, with almighty
              place a tiny bit of stone towards your aim later on placing a
              brick by brick towards your aim can achieve the most wanted and a
              definitive aim.
            </p>
            <h5 class="sk-sec-subhead">
              Consequences of not having a particular aim
            </h5>
            <p>
              People want to live a normal life without much effort and ready to
              economize their life by doing usual jobs, mostly spending time
              with less required activities in one’s life or events that give
              them joy always. But the truth is that without enough effort one
              can’t live a normal life or happiest life always. There will be
              some desires left in their mind without fulfilling and that regret
              will affect their life without even knowing them. Some go even
              worse, that can be seen in young people or sometimes even in
              elderly people a tendency of doing violence, crimes or making them
              violent character, enslaved to any kind of drugs, or even worse
              like terror act.
            </p>
            <h5 class="sk-sec-subhead">
              The core importance of each one having an aim in their life
            </h5>
            <p>
              Having an aim and put on the action and achieving it is doing
              something for the world, a contribution to the world’s good or at
              least a payback for our beautiful life in this world or worthy for
              someone for something. There is an old quote from my native place
              I would like to translate “When you become good your family become
              good when your family become good your country become good when
              your country become good the world itself become good”.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CcZeroPixabay from '~/components/credit-badge/cc-zero-pixabay'
import CcZeroUnsplash from '~/components/credit-badge/cc-zero-unsplash'

export default {
  name: 'TheImportanceOfAnAim',

  components: {
    'cc-zero-pixabay': CcZeroPixabay,
    'cc-zero-unsplash': CcZeroUnsplash
  }
}
</script>
<style scoped>
.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.secs,
.sec,
.sec-0 .wrapper {
  width: 100%;
}

.secs {
  background-color: #eeeefa;
  padding-bottom: 2rem;
}

.secs-container,
.sec-0 .wrapper {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.secs-container {
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.secs-container {
  background-color: white;
}

.sec.sec-0 {
  background-image: url('~assets/images/self-help-and-personal-development/the-importance-of-an-aim/aim-large.jpg');
  background-position: center top;
  background-size: cover;
  height: calc(100vh - 3rem);
  margin-bottom: 2.5rem;
}

.sec-0 {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.sec-0 .wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sec-0 .article-date {
  display: flex;
  flex-flow: row nowrap;
}

.sec-0 .article-date span {
  flex: 0 0 150px;
  text-align: center;
  font-weight: 500;
}

.sec-0 .article-date hr {
  flex: 1;
  height: 1px;
  background-color: #1e1e1e;
}

.sk-menuheading {
  padding: 0;
}

.sec-texts,
.sec-img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.sec-img img {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .secs-container {
    width: 90%;
  }

  .sec-texts,
  .sec-img {
    width: 90%;
  }
}
</style>
