<template>
  <div class="sk-default-flex">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <nuxt-link class="navbar-brand sk-brand" to="/"
          >Shameer Kamaludeen</nuxt-link
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>

        <div
          id="navbarSupportedContent"
          class="collapse navbar-collapse justify-content-end"
        >
          <ul :class="{ 'flex-column': windowWidth < 992 }" class="nav">
            <li class="nav-item">
              <nuxt-link
                class="nav-link"
                to="/"
                data-toggle="collapse"
                aria-controls="navbarSupportedContent"
                data-target=".navbar-collapse.show"
                >Home</nuxt-link
              >
            </li>
            <li class="nav-item">
              <nuxt-link
                class="nav-link"
                to="/technology"
                data-toggle="collapse"
                aria-controls="navbarSupportedContent"
                data-target=".navbar-collapse.show"
                >Tech</nuxt-link
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Article</a
              >
              <div class="dropdown-menu">
                <nuxt-link
                  class="dropdown-item nav-link"
                  to="/article/trips-and-travel"
                  data-toggle="collapse"
                  aria-controls="navbarSupportedContent"
                  data-target=".navbar-collapse.show"
                  >Trips & travel</nuxt-link
                >
                <nuxt-link
                  class="dropdown-item nav-link"
                  to="/article/self-help-and-personal-development"
                  data-toggle="collapse"
                  aria-controls="navbarSupportedContent"
                  data-target=".navbar-collapse.show"
                  >Self-help & <br />Personal development</nuxt-link
                >
                <nuxt-link
                  class="dropdown-item nav-link"
                  to="/article/cooking"
                  data-toggle="collapse"
                  aria-controls="navbarSupportedContent"
                  data-target=".navbar-collapse.show"
                  >Cooking</nuxt-link
                >
                <nuxt-link
                  class="dropdown-item nav-link"
                  to="/article/health-and-fitness"
                  data-toggle="collapse"
                  aria-controls="navbarSupportedContent"
                  data-target=".navbar-collapse.show"
                  >Health & Fitness</nuxt-link
                >
              </div>
            </li>
            <li class="nav-item">
              <nuxt-link
                class="nav-link"
                to="/readings"
                data-toggle="collapse"
                aria-controls="navbarSupportedContent"
                data-target=".navbar-collapse.show"
                >Readings</nuxt-link
              >
            </li>
            <li class="nav-item">
              <nuxt-link
                class="nav-link"
                to="/about"
                data-toggle="collapse"
                aria-controls="navbarSupportedContent"
                data-target=".navbar-collapse.show"
                >About</nuxt-link
              >
            </li>
            <li class="nav-item">
              <nuxt-link
                class="nav-link"
                to="/subscription"
                data-toggle="collapse"
                aria-controls="navbarSupportedContent"
                data-target=".navbar-collapse.show"
                >Subscription</nuxt-link
              >
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <span v-if="isSearch == false" class="sk-search-icon">
              <font-awesome-icon icon="search" @click="focusSearch" />
            </span>
            <transition name="slide-fade">
              <input
                v-if="isSearch == true"
                ref="searchBox"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                @keyup.enter="search"
              />
            </transition>
          </div>
        </div>
      </nav>
    </header>
    <main class="sk-default-main">
      <nuxt />
    </main>
    <footer class="sk-footer">
      <div class="footer-wrapper">
        <div class="footer-nav">
          <ul class="nav">
            <li><nuxt-link to="/about">About</nuxt-link><span>|</span></li>
            <li>
              <nuxt-link to="/terms-and-condition">Terms of Use</nuxt-link
              ><span>|</span>
            </li>
            <li>
              <nuxt-link to="/privacy-policy">Privacy Policy</nuxt-link
              ><span>|</span>
            </li>
            <li>
              <nuxt-link to="/subscription">Subscription</nuxt-link
              ><span>|</span>
            </li>
            <li>
              <nuxt-link to="/contact">Contact</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="footer-copyright">
          <span>Copyright © 2019 Shameer Kamaludeen. All rights reserved.</span>
        </div>
        <div class="footer-social">
          <ul>
            <li>
              <a
                href="https://twitter.com/shameer_plsn"
                style="color: #1DA1F2"
                target="_blank"
                ><span><font-awesome-icon :icon="['fab', 'twitter']"/></span
              ></a>
            </li>
            <li>
              <a
                href="http://www.youtube.com/c/ShameerKamaludeen"
                style="color: #ff0000"
                target="_blank"
                ><span><font-awesome-icon :icon="['fab', 'youtube']"/></span
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/shameer-kamaludeen-3673ba73"
                style="color: #0077B5"
                target="_blank"
                ><span><font-awesome-icon :icon="['fab', 'linkedin']"/></span
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/shameer.plsn/"
                style="color: #e1306c"
                target="_blank"
                ><span><font-awesome-icon :icon="['fab', 'instagram']"/></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      isSearch: false,
      browserWidth: 0,
      windowWidth: 1000
    }
  },
  mounted() {
    window.addEventListener('resize', this.handleWindowResize)
    this.windowWidth = window.innerWidth
  },
  beforeDestroy: function() {
    window.removeEventListener('resize', this.handleWindowResize)
  },
  methods: {
    search() {
      window.alert('Successfull')
    },
    focusSearch() {
      this.isSearch = true
      this.$nextTick(() => this.$refs.searchBox.focus())
    },
    handleWindowResize(event) {
      this.windowWidth = event.currentTarget.innerWidth
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#__layout,
#__nuxt,
body,
html {
  height: 100%;
}
</style>

<style scoped>
.navbar {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.navbar-light {
  border-bottom: 1px solid #d4d4c5;
}
.sk-search-icon {
  padding-left: 16px;
  padding-right: 16px;
}
.sk-brand {
  font-weight: 600;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
.navbar a {
  color: black !important;
}
@media screen and (min-width: 860px) {
  .navbar .nav-item {
    position: relative;
  }
  .navbar .nav-item > a:before {
    bottom: 0.45rem;
    width: calc(100% - 2rem);
    background: currentColor;
    content: '';
    display: none;
    height: 2px;
    position: absolute;
  }
  .navbar .nav-item > a:hover:before {
    display: block;
  }

  .navbar a.dropdown-item:hover {
    text-decoration: underline;
  }

  .navbar .dropdown-item:hover,
  .navbar .dropdown-item:focus {
    background-color: inherit;
  }
}

.sk-default-flex {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sk-default-main {
  flex: 1 0 auto;
}

.sk-footer {
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0.2rem 0.2rem 1rem;
  border-top: 1px solid #d6d6d6;
  font-size: 0.8rem;
  color: #505050;
  flex-shrink: 0;
}

.sk-footer a {
  color: #505050;
  margin-right: 5px;
}

.sk-footer a:hover {
  color: #111;
}

.sk-footer .footer-nav li span {
  margin-right: 5px;
}
.sk-footer .footer-nav li:last-child a {
  margin-right: 0px;
}

.footer-wrapper {
  display: flex;
  line-height: 1.75rem;
  flex-wrap: wrap;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
  justify-content: center;
  font-size: 1.1rem;
}

.footer-social {
  width: 100%;
}

.footer-social li {
  margin: 0 5px;
}

.footer-copyright {
  margin-left: auto;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-copyright {
    align-self: center;
    margin-left: 0;
    text-align: center;
  }

  .footer-nav {
    align-self: center;
  }
}
</style>
