<template>
  <div class="secs">
    <section class="sec sec-0">
      <div class="page-cover-wrapper">
        <figure class="page-cover-figure" />
        <div class="page-cover-desc sk-texts">
          <h1 class="sk-title">The readings review shelves</h1>
          <p ref="readingsReviewNote" class="sk-sec-head">
            The listed readings review in this page are completely my personal
            reviews or summarization which is I have outlined to show my
            perspective or comprehension of the literature or any writings and
            it does not summarize itself.
          </p>
        </div>
      </div>
    </section>
    <template v-for="writing in writings">
      <readings-shelves-item :key="writing.id" :writing="writing" />
      <section :key="writing.id + 'a'" class="sec">
        <div class="wrapper">
          <div class="wrapper-sidebar">
            <div />
          </div>
          <div class="wrapper-container" />
        </div>
      </section>
    </template>
  </div>
</template>
<script>
import ReadingsShelvesItem from '~/components/readings-shelves-item'
const writingsPromise = process.BROUSER_BUILD
  ? import('~/data/writings-review.json')
  : Promise.resolve(require('~/data/writings-review.json'))

export default {
  name: 'ReadingsShelves',

  components: {
    'readings-shelves-item': ReadingsShelvesItem
  },

  async asyncData() {
    const writingsJsonData = await writingsPromise
    return { writings: writingsJsonData }
  }
}
</script>
<style scoped>
.secs {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right, white, #c5c3ba);
}

.sec {
  width: 100%;
}

.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.page-cover-wrapper {
  width: 100%;
  position: relative;
}

.page-cover-desc {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  width: 75%;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-cover-desc p {
  line-height: 1.5;
}

.page-cover-figure {
  width: 100%;
  height: 92vh;
  background-repeat: no-repeat;
  background-image: url('~assets/images/readings/readings-review-cover.jpg');
  background-size: cover;
}

.wrapper-sidebar div {
  width: 60%;
  height: 3rem;
  margin: 1rem 0;
}

.wrapper-container {
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .secs {
    background-image: linear-gradient(to right, white, #eae9e2);
  }

  .page-cover-figure {
    background-image: url('~assets/images/readings/readings-review-cover-portrait.jpg');
  }

  .page-cover-desc {
    left: 0;
    bottom: 0;
  }

  .page-cover-desc .sk-sec-head {
    font-size: inherit;
  }
}
</style>
