<template>
  <div>
    <span>Review harry potter and the chamber of secrets</span>
  </div>
</template>
<script>
export default {
  name: 'ReviewHarryPotterAndTheChamberOfSecrets'
}
</script>
<style scoped></style>
