<template>
  <div>
    <span>Review harry potter and the sorcerers stone</span>
  </div>
</template>
<script>
export default {
  name: 'ReviewHarryPotterAndTheCorcerersStone'
}
</script>
<style scoped></style>
