<template>
  <div class="secs">
    <div class="secs-container-0">
      <div class="sec sec-0">
        <div class="wrapper">
          <div class="wrapper-container">
            <div class="wr-cover-decoration">
              <div class="wr-cover-sidetag" />
              <figure class="writings-img">
                <img
                  src="~/assets/images/readings/review-the-alchemist/review-the-alchemist.jpg"
                  alt="Review: The Alchemist"
                />
                <figcaption>
                  <website-source
                    source-name="Amazon"
                    source-link="https://www.amazon.in/Alchemist-Paulo-Coelho/dp/8172234988"
                    class="book-cover-credit"
                  />
                </figcaption>
              </figure>
            </div>
            <h1 class="review-title">
              <span>Review</span><br /><span>The Alchemist</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="sec sec-1">
        <div class="wrapper">
          <div class="wrapper-container">
            <div class="sec-texts sk-texts">
              <div class="review-para-left">
                <p>
                  The Alchemist by Paulo Coelho is portraying the story of
                  following one’s dream with a fantasized narration. The
                  Alchemist can be considered as a self-help or any other mean
                  of fictional narration which is completely upon the readers
                  point of view, personally I consider it as a clear self-help
                  book, it is a clear understanding, in both way the novel
                  display impeccable feeling. Unlike other self-help book The
                  Alchemist motivate not narrating by exactly what to do to
                  achieve one’s dream instead induce ideas or desire which each
                  individual having in their own heart or mind. The narration of
                  the novel is precisely comprehensible which keep off weariness
                  of reading, when start reading might feel like you are like
                  one of the particles of a splendid flowing water with the
                  breeze of the wind blowing softly.
                </p>
              </div>
              <div class="review-para-right">
                <p>
                  It is vital to just not comprehend what is written in the
                  book, instead understand what exactly author try to say
                  through the book by interpret inner part of the illustration.
                  Author used distinct way of narration which is following
                  recurring dream of finding a treasure of an Andalusian
                  shepherd boy named Santiago. Narrating with the adventure and
                  fantasy hold us stay on reading which separate The Alchemist
                  uniquely from all other self-help books.
                </p>
              </div>
              <div class="review-para-left">
                <figure class="sec-img">
                  <img
                    src="~/assets/images/readings/review-the-alchemist/egypt.png"
                    alt="The pyramid"
                  />
                  <figcaption>
                    <cc-zero-pixabay
                      creator="OpenClipart-Vectors"
                      source-link="https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2027647"
                      provider-link="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2027647"
                    />
                  </figcaption>
                </figure>
                <p>
                  The Alchemist mentioning the number of ways obtain success by
                  oneself or the one who gain success with relationship with or
                  take part of other successive people. The boy Santiago and
                  Englishman are obtaining success themselves and Romani fortune
                  teller, the king of Salem and crystal merchant are the
                  examples of whom obtain success through relationship with the
                  boy. The boy’s decision to leave home to travel the world
                  leaving behind his father’s desire to his son become a priest,
                  The Alchemist describing about one’s desire to become whom we
                  are or to be want is nobodies wishes instead ourselves.
                </p>
              </div>
              <div class="review-para-right">
                <p>
                  Broadly mentioned about the one’s careful observation and
                  experience calibrate to virtuous. Along with learning what we
                  are actually doing and learning or observing surroundings
                  helps understand or intensify your potentiality. Be a
                  shepherd, assisting a merchant or merchandise, treasure
                  hunting or doing experiments the careful observation and
                  courage enough to experience what we are intend to do without
                  thinking about failure lead us to prosperity. These are the
                  valuable messages pop up by The Alchemist if you comprehend
                  the narration sensibly. It is normal that one gets defeat in
                  achieving something and that make back you off from following
                  your dream, The Alchemist describe about the temporary defeat
                  and overcome from it. Causing a defeat is experience and start
                  building again with step by step augmentation build a strong
                  foundation of what we doing.
                </p>
              </div>
              <div class="review-para-left">
                <figure class="sec-img">
                  <img
                    src="~/assets/images/readings/review-the-alchemist/pyramid.jpg"
                    alt="The journey"
                  />
                  <figcaption>
                    <cc-zero-pixabay
                      creator="veggieman"
                      source-link="https://pixabay.com/users/veggieman-5842/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=364902"
                      provider-link="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=364902"
                    />
                  </figcaption>
                </figure>
                <p>
                  One could not succeed or continue his or her success as it had
                  earlier means lacking in something, implementing different
                  ideas to improve what you are doing or what you want to become
                  will help find where we lacking or find reason that hold you
                  from being successful. The author clearly mentions the
                  attitude helps build relationship and the relationship is
                  vital to being equal, equality may not be requiring for
                  achieve your exact dream but it may be helps related to
                  something other than your actual dream.
                </p>
              </div>
              <div class="review-para-right">
                <p>
                  Another behavior It is usual that everyone come across, which
                  is, one reach in a comfortable life they struck in it and it
                  will be led to defeat. Seeking or being in a comfortable time
                  may lead us to defeat or depression. Follow the omens and do
                  what your heart say. There is some criticism in that but I
                  consider it as a strategy to follow because some circumstances
                  may occur against our will and we throw away it the right
                  moment, but follow the heart to achieve it will be the
                  decisive. A comfort zone makes us inactive but still your
                  heart might be telling you something and that’s may be the
                  omen, it is good for yourself and surroundings and follow your
                  dream will make your mind and body happier and healthy.
                </p>
              </div>
              <div class="review-para-left">
                <figure class="sec-img">
                  <img
                    src="~/assets/images/readings/review-the-alchemist/oasis.jpg"
                    alt="The oasis"
                  />
                  <figcaption>
                    <cc-zero-pixabay
                      creator="Dieter_G"
                      source-link="https://pixabay.com/users/Dieter_G-359839/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=593389"
                      provider-link="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=593389"
                    />
                  </figcaption>
                </figure>
                <p>
                  Final and about one of the most important fact can be seen
                  throughout the novel is happiness. The boy’s interest to know
                  the world and travel, he become shepherd, to find his
                  happiness, to do what his heart say and follow the omens he
                  follows his recurring dream of finding the treasure. Finding
                  happiness in service to the people by selling beautiful
                  crystals, tea for drink and their satiation. Towards his
                  journey to the pyramids of Egypt friendly conversations with
                  camel driver and fall in love with women called Fatima met in
                  Al-Fayoum oasis, at the end deciding to return to oasis
                  looking for Fatima. In every mean The Alchemist point out the
                  happiness of life in any circumstances.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sec sec-2">
        <div class="wrapper">
          <div class="wrapper-container">
            <div class="sec-texts sk-texts">
              <p>
                Do what you are interested in or desire to, don’t think it is ok
                to be struggle or stress in what you doing to earn something so
                that can be happier in other side of life, it might not be
                result in as expected. In every mean find happiness so that
                there will not be any situation you regret. Start read the
                novel, it is more valuable, adventure, fantasy or interesting
                than I explained.
              </p>
            </div>
            <figure class="sec-img">
              <img
                src="~/assets/images/readings/review-the-alchemist/paulo-coelho.jpg"
                alt="Author Paulo Coelho"
              />
              <figcaption>
                <website-source
                  source-link="http://paulocoelhoblog.com/photos-for-journalists/"
                  source-name="paulocoelhoblog"
                  creator="Paul Macleod"
                  class="paulo-img-credit"
                />
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import WebsiteSource from '~/components/credit-badge/website-source'
import CcZeroPixabay from '~/components/credit-badge/cc-zero-pixabay'

export default {
  name: 'ReviewTheAlchemist',
  components: {
    'website-source': WebsiteSource,
    'cc-zero-pixabay': CcZeroPixabay
  }
}
</script>
<style scoped>
.sk-texts {
  /* color: #1e1e1e; */
  color: #041b23;
  line-height: 2;
}

.secs {
  width: 100%;
  overflow: hidden;
  max-width: 2560px;
  margin: 0 auto;
}

.secs-container-0 {
  width: 1100px;
  margin: 3rem auto;
  /* background-color: #f4fdd9; */
  background-color: #e7e7e7;
  position: relative;
}

.sec,
.wrapper,
.wrapper-container {
  width: 100%;
}

.sec-0 .wrapper-container {
  display: flex;
  flex-direction: row;
  background-color: #39bb7d;
}

.wr-cover-decoration,
.sec-2 .wrapper-container {
  position: relative;
}

.wr-cover-sidetag {
  /* background-color: #10455b; */
  background-color: #041b23;
  width: 200px;
  height: 100%;
  position: absolute;
}

.writings-img {
  width: 290px;
  margin: 4rem 0 0 4rem;
  z-index: 1;
  position: relative;
}

.writings-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.book-cover-credit {
  color: #d2cdcd;
}

.review-title {
  align-self: flex-end;
  margin: 0 0 1rem 2rem;
  font-size: 4.5rem;
  color: #041b23;
}
/* 
.sidebar-right,
.sidebar-left {
  position: absolute;
  width: 10%;
  background-color: #ffaf20;
  background-color: #044c5b;
  height: 40%;
} */
/* 
.sidebar-right {
  right: 0;
  top: 0;
}

.sidebar-left {
  left: 0;
  bottom: 0rem;
} */

.secs .sec-1,
.secs .sec-2 {
  position: relative;
}

.sec-1 .sec-texts {
  display: flex;
  flex-flow: column wrap;
}

.sec-1 .sec-texts div {
  padding: 3rem;
  margin: 3rem 3rem 0rem;
  background-color: #ffffff;
  width: 75%;
}

.sec-img {
  width: 100%;
}

.sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.review-para-left {
  align-self: flex-start;
}

.review-para-right {
  align-self: flex-end;
}

.sec-2 .wrapper-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #39bb7d;
  margin-top: 2rem;
}

.sec-2 .sec-texts {
  padding: 0 5rem;
  text-align: center;
  color: white;
}

.sec-2 .sec-img {
  padding: 2rem 3rem;
  flex: 1 0 40%;
}

.paulo-img-credit >>> a:hover {
  color: #111;
}

.paulo-img-credit >>> a {
  color: #0f539c;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .sec-0 .wrapper-container {
    flex-wrap: wrap;
  }

  .secs-container-0 {
    width: 90%;
  }

  .wr-cover-sidetag {
    width: 100%;
  }
  .sec-1 .sec-texts div {
    padding: 1rem;
    margin: 1rem;
    width: auto;
  }

  .review-title {
    margin: 1rem 0 1rem 1rem;
    font-size: 2.5rem;
  }

  .writings-img {
    width: 72%;
    margin: 2rem auto;
  }

  .sec-2 .wrapper-container {
    flex-wrap: wrap;
  }

  .sec-2 .sec-texts {
    padding: 2rem;
  }

  .sec-2 .sec-img {
    padding: 0 2rem;
  }
}
</style>
