<template>
  <div>
    <span>Hello... Review the subtle are of not giving a f*ck</span>
  </div>
</template>
<script>
export default {
  name: 'ReviewTheSubtleArtOfNotGivingAF'
}
</script>
<style scoped></style>
