<template>
  <div class="secs">
    <section class="sec sec-0">
      <div class="wrapper">
        <figure class="sk-photo" />
        <div class="sec-texts sk-texts">
          <h1 class="sk-title">About</h1>
          <h3 class="sk-chapter">Shameer Kamaludeen</h3>
          <h5 class="sk-sec-subhead">Intro</h5>
          <p>
            I’m Shameer Kamaludeen working as a freelancer in Software/Web
            development, endeavor to put my contribution in the world of
            Information and communications technology.
          </p>
          <p>
            Trying to make each day wake up early, start with a black tea,
            sharpen the skill and knowledge, implement the best to produce in
            quality and updated, stay with family and friend for happier,
            obedient, aware, engage, responsible and courage, substance of
            fitness, an aesthetic feeling of food and inevitable reading.
          </p>
          <p>
            Occasionally or in a weak to find a way to travel, playing football,
            cooking, following one of the best football team in the world,
            Barcelona and Lionel Messi, watching their matches, volunteer for
            something in needs are always a way to happiness.
          </p>
        </div>
      </div>
    </section>
    <section class="sec sec-1">
      <div class="wrapper">
        <div class="sec-texts sk-texts">
          <h5 class="sk-sec-subhead sk-media-heading">Education</h5>
          <p>
            I’ve completed my post-graduation from Bangalore University,
            Bangalore. A garden city, an IT hub, culture and weather always
            amused me. I wasn’t had a reputation in my studies, I hadn't known
            what was I am doing but my education gave me a tremendous experience
            to know the opportunities and knowledge, at the end felt something
            achieved.
          </p>
          <p>
            I am born and bought up from a village in the state of Kerala in
            India, it was dad’s decision to attend for higher studies. I had
            chosen computer science as my subject as it was trending when I was
            planned to go for higher studies one of the weirdest ideas of my
            life. I had never touched a computer before but my decision become
            my life turning point. I had always wanted to do something logic and
            creative and my weird decision becomes one of the topmost wishes.
          </p>
        </div>
        <figure class="sec-img education-img">
          <h5 class="sk-texts sk-sec-subhead sk-media-heading">Education</h5>
          <img
            src="~/assets/images/about/education-image.jpg"
            alt="Shameer Kamaludeen Education"
          />
          <figcaption>
            <cc-zero-ds
              creator="Petros Tsonis"
              creator-link="https://www.dreamstime.com/petrostsonis_info"
              source-link="https://www.dreamstime.com/open-books-stock-photo-image-free-1829780"
              source-id="1829780"
              provider-link="https://www.dreamstime.com/"
              provider-name="Dreamstime.com"
            />
          </figcaption>
        </figure>
      </div>
    </section>
    <section class="sec sec-2">
      <div class="wrapper">
        <figure class="sec-img work-img">
          <h5 class="sk-texts sk-sec-subhead sk-media-heading">Work</h5>
          <img
            src="~/assets/images/about/work-image.jpg"
            alt="Shameer Kamaludeen Work"
          />
          <figcaption>
            <cc-zero-ds
              creator="creativecommonsstockphotos"
              creator-link="https://www.dreamstime.com/creativecommonsstockphotos_info"
              source-id="126652520"
              source-link="https://www.dreamstime.com/turned-off-macbook-pro-near-cup-coffee-public-domain-image-free-126652520"
              provider-link="https://www.dreamstime.com/"
              provider-name="Dreamstime.com"
            />
          </figcaption>
        </figure>
        <div class="sec-texts sk-texts">
          <h5 class="sk-sec-subhead sk-media-heading">Work</h5>
          <p>
            As a result, from my education brought me a bad start in my work,
            start with I never liked, because I wasn’t fit for the job I wanted.
            But I never backward in my career, in a short while I started
            working on to get what I wanted. My IT career was start from a
            startup company which is having six members using Microsoft WPF and
            MS SQL Server to develop enterprise resource planning software.
          </p>
          <p>
            Move on to the next step with a company of having more than eighty
            employees working in the R&D department for a monitoring and
            configuration system development and maintenance for a communication
            system. Now the state is with new economy of modern web development
            with software engineering so I step forward to give it a try. It
            will never stop, it is always like that.
          </p>
        </div>
      </div>
    </section>
    <section class="sec sec-3">
      <div class="wrapper">
        <div class="sec-texts sk-texts">
          <h4 class="sk-sec-head sk-media-heading">Into freelaning</h4>
          <p>
            Always knew it is more life balancing if into freelancing until
            unless get a life in a company. May be because started late, may be
            its not an environment that suits me, or maybe I am incapable of.
            But that can’t be conclude until unless I am capable of achieving my
            goal, so until that it is more balanced and desirable.
          </p>
          <P
            >It is always great to be work with colleagues because of more
            ordered working environment and responsively accessible answers,
            these are experiencing the other side of life, spending time with
            friends and family always gave me happier, engage, responsible and
            courage. So of course, it will be great to be a part of a company.
            But Until unless find a place like that which may have life and
            desirable to achieve my goal it is always to being a freelancer.</P
          >
        </div>
        <figure class="sec-img freelance-img">
          <h4 class="sk-texts sk-sec-head sk-media-heading">
            Into Freelancing
          </h4>
          <img
            src="~/assets/images/about/freelance-image.jpg"
            alt="Shameer Kamaludeen Into Freelancing"
          />
          <figcaption>
            <cc-zero-unsplash
              creator="Toa Heftiba"
              source-link="https://unsplash.com/photos/W6q15ddqqJo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
              provider-name="Unsplash"
            />
          </figcaption>
        </figure>
      </div>
    </section>
    <section class="sec sec-4">
      <div class="wrapper">
        <figure class="sec-img unity-img">
          <h4 class="sk-texts sk-sec-head sk-media-heading">
            Friends and Family
          </h4>
          <img
            src="~/assets/images/about/friends-family.jpg"
            alt="Shameer Kamaludeen Friends and Family"
          />
          <figcaption>
            <cc-zero
              source-name="VisualHunt"
              source-link="https://visualhunt.com/"
            />
          </figcaption>
        </figure>
        <div class="sec-texts sk-texts">
          <h4 class="sk-sec-head sk-media-heading">Friends and Family</h4>
          <p>
            Proud and affectation while considering friends and family in unity
            and harmony is excessive. They are the factory of experience with no
            cost. a good life not just come from wealth or dignity, it comes
            from being happier through engaging, being responsible, courage
            enough to phase the problems and obstacles and friends and family
            helps me build all these inevitable things in life.
          </p>
          <p>
            Thank god for giving me such friends and born in a place like this.
            For their presence no need to travel long, my place is filled with
            lot of such people and they are outnumbered and we are together
            since childhood, that helps build even stronger relationship. And
            the support from the parents, brother and sister in any
            circumstances make a heaven for living.
          </p>
        </div>
      </div>
    </section>
    <section class="sec sec-5">
      <div class="wrapper">
        <div class="sec-texts sk-texts">
          <h4 class="sk-sec-head sk-media-heading">Football</h4>
          <p>
            I was a big fan of music and band called Linking Park and their
            crew, it was non-replaceable admiration with all band members,
            music, attitude, respect and life style. But after their main men
            down started feeling invisibility so had have to find a way for
            something that can divert me from what I am doing when I am needed,
            then I had the same feeling as when started following one of the
            best football club in the world Barcelona and one and only Lionel
            Messi. Also, we used to play football once in week and every day in
            summer.
          </p>
        </div>
        <figure class="sec-img football-img">
          <h4 class="sk-texts sk-sec-head sk-media-heading">Football</h4>
          <img
            src="~/assets/images/about/football-image.jpg"
            alt="Shameer Kamaludeen's interest in football"
          />
          <figcaption>
            <cc-by-sa
              source-link="https://commons.wikimedia.org/wiki/File:FC_Barcelona_Team_2,_2011.jpg"
              license-link="https://creativecommons.org/licenses/by-sa/2.0"
              license-type="CC BY-SA 2.0"
              creator="Christopher Johnson"
              source-name="Wikimedia Commons"
            />
          </figcaption>
        </figure>
      </div>
    </section>
    <section class="sec sec-6">
      <div class="wrapper">
        <div class="sec-texts sk-texts">
          <h3 class="sk-chapter">My Aim</h3>
          <p>
            This is the most important thing of my life which I’ve set my
            destiny to find. Place my contribution in Information and
            Communication Technology as prominent as possible for my family, for
            my native, for my country and for the world.
          </p>
          <p>
            This is the only destiny I have set in my life right now remaining
            everything I have a clear picture of graph to achieve in case of
            family, friends, health and for a happier life and for that not even
            need to have a try or look for that, it is along with me for a long
            time and no need to place it as my destiny. But In case of my career
            no matter how much I get enough. So, I work hard until I reached a
            reasonable achievement to my mind, no matter how long it takes or
            how much effort it cost.
          </p>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import CcBySa from '~/components/credit-badge/cc-by-sa'
import CcZero from '~/components/credit-badge/cc-zero'
import CcZeroDS from '~/components/credit-badge/cc-zero-ds'
import CcZeroUnsplash from '~/components/credit-badge/cc-zero-unsplash'

export default {
  name: 'About',

  components: {
    'cc-by-sa': CcBySa,
    'cc-zero': CcZero,
    'cc-zero-ds': CcZeroDS,
    'cc-zero-unsplash': CcZeroUnsplash
  }
}
</script>

<style scoped>
/* #region reusable-page-styles */
.sec {
  overflow: hidden;
  width: 90%;
  height: auto;
  margin: 1rem auto 3rem;
  padding: 0 0.2rem;
}

.wrapper {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .wrapper {
    flex-wrap: wrap;
  }
}

.sk-texts {
  color: #1e1e1e;
  line-height: 2;
}

.sec-texts {
  flex: 1 1 auto;
  height: auto;
}

.sec-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.education-img,
.work-img,
.freelance-img,
.unity-img,
.football-img {
  flex: 0 0 35em;
}

.sec-1 .sec-texts,
.sec-3 .sec-texts,
.sec-5 .sec-texts {
  padding: 0 3rem 0 0;
}

.sec-2 .sec-texts,
.sec-4 .sec-texts {
  padding: 0 0 0 3rem;
}
/* #endregion reusable-page-styles */

.sec-img .sk-media-heading:first-child {
  display: none;
}

.sec-0 .sk-photo {
  background-image: url('~assets/images/about/sk-photo.jpg');
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 3.5625rem);
  flex: 0 0 70vh;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .sec-0 .sk-photo {
    background-image: url('~assets/images/about/sk-photo-mob.jpg');
    background-attachment: initial;
    height: 50vw;
  }
}

@media screen and (orientation: portrait) {
  .sec-0 .sk-photo {
    background-image: url('~assets/images/about/sk-photo-mob.jpg');
    background-position: center top;
    background-attachment: initial;
    height: 108vw;
  }
}

.sec-0 .sec-texts {
  padding: 3rem 0 0 3rem;
}

.sec-6 {
  background-color: #fafafa;
}

.sec-6 .wrapper {
  width: 70%;
  align-items: center;
  margin: 8rem auto;
}

.sec-6 {
  width: 100%;
  margin: 1rem auto 0;
}

.sec-6 .sec-texts * {
  text-align: center;
}

/*#region keep-in-bottom*/
@media screen and (max-width: 1024px) and (min-width: 320px) {
  /* #region reusable-page-styles */
  .sec:not(.sec-6) {
    margin-bottom: 1rem;
  }

  .sec .wrapper figure:not(.sk-photo) {
    flex: 1;
  }

  /* #endregion reusable-page-styles */
  .sec-0 .sec-texts,
  .sec-1 .sec-texts,
  .sec-2 .sec-texts,
  .sec-3 .sec-texts,
  .sec-4 .sec-texts,
  .sec-5 .sec-texts {
    padding: 0;
  }

  .sec-img .sk-media-heading:first-child {
    display: block;
  }

  .sec-texts .sk-media-heading:first-child {
    display: none;
  }

  .sec-1 .sec-img,
  .sec-3 .sec-img,
  .sec-5 .sec-img {
    order: 1;
  }

  .sec-1 .sec-texts,
  .sec-3 .sec-texts,
  .sec-5 .sec-texts {
    order: 2;
  }

  .sec-6 .wrapper {
    width: 90%;
    margin: 3rem auto;
  }
}
/*#endregion keep-in-bottom*/
</style>
