<template>
  <div>
    <span>Home</span>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      test: 'hello'
    }
  },
  mounted() {},
  methods: {}
}
</script>

<style scoped></style>
